[2018-09-27 18:50] philipbaileynar opened #1 "Vector Layer Icons"
Currently all vector layers are displayed with the ArcCatalog icon for polygons. There is no differentiation made between point, line and polygon geometry types.

![2018-09-27_115026](https://user-images.githubusercontent.com/8645379/46167766-8a188a80-c24b-11e8-8035-137d4b8af10c.png)

[2018-09-27 22:27] philipbaileynar opened #2 "Attribute tables (DBF) project elements"
We need to be able to take DBF tables referenced in projects and add them to the current map document. BRAT uses them.

[2018-09-27 23:22] philipbaileynar opened #3 "Acknowledgements Content Required"
@joewheaton can you please write the acknowledgements for the new RAVE AddIn. If you write this in the [special hidden markdown file](https://github.com/Riverscapes/RaveAddIn/blob/master/docs/dotnetack.md) that is shown on the software About form, then I'll handle making this a new visible page in the documentation web site.

Here's a reminder of whether the special hidden acknowledgements appear:

[2020-02-27 19:47] MattReimer opened #4 "Open Source Raster Symbolizattion"
## Raster Symbolozation

A good cross-platform and open-source way of symbolizing Raster files is by using the standards specified in the `GRASS r.colors` module

Here's what a typical `.cpt` file looks like:

<https://grass.osgeo.org/grass78/manuals/r.colors.html>

[code]

Here's a terrain map with discrete values

[code]

More examples of color tables:

<https://grasswiki.osgeo.org/wiki/Color_ta

[2020-03-26 15:19] philipbaileynar opened #5 "Layer Transparency"
Layer transparency is not being applied when adding items to the map.

I suspect that the code is picking up the symbology renderer from the layer file but not looking for other properties stored in the layer file that might be applied to the layer over all, such as the transparency.

[2020-04-17 23:01] philipbaileynar opened #6 "Context Web Mapping Layers"
@joewheaton has identified several really useful [National Map](https://viewer.nationalmap.gov/services/) web mapping layers for the United States. They include layers like USGS topo maps, NAIP imagery, contours etc. Several similar services are available in other countries, such as [New Zealand](https://data.linz.govt.nz/data/).

Rather than require users to include the relevant web mapping servi

[2020-04-20 18:54] joewheaton commented on #6
Yes. Why not just call them "Basemaps". That is what most maps refer to this stuff as. Then when adding, allow to add WMS or WMST.

 like it. It might be helpful to have some optional arguments for a thumbnail and/or icon. For example:
` <Item name="USGS Topo Map" url="https://basemap.nationalmap.gov:443/arcgis/services/USGSTopo/MapServer/WmsServer?" icon="USGS" thumbnail="https://someurl.com"/>`

[2020-04-20 19:41] philipbaileynar commented on #6
Thanks @joewheaton

Yes, I like the name "base maps".

I am OK introducing the concept of "organizations" into the XML. However, I still think we are missing the higher level concept of what you refer to as "geographies". In the United States I think there might be several organizations: USGS, MapBox, EPA etc. What is the parent entity that encapsulates all these items and separates them from say

[2020-04-20 20:13] joewheaton opened #7 "Close All Projects and Start New Map"
## The Problem

I find myself quite regularly taking advantage of the functionality of having a bunch of riverscapes projects open in RAVE. However, a really common task is to "Close All Projects" and to start a blank new map document.

## Request
Add two commands:
1. **Close All Projects**
2. **Close All Projects and Start New Map**

You see the context in this video:
[![](http://img.youtube.com/

[2020-04-20 20:31] joewheaton commented on #6
I get geographies... But it is truer to say who hosts it. I worry about query of geographies and maintaining that list...

[2020-04-20 20:35] jb10016 commented on #6
Hi all,

I’ll reply properly later today - but what about ‘regions’

On Tue, 21 Apr 2020 at 08:31, Joe Wheaton <notifications@github.com> wrote:

--

| *Professor James Brasington* | Waikato Regional Council Chair of River
Science|

| University of Waikato | Hamilton | New Zealand | Tel: +64 7 858 5046 |

| *Google Scholar
<https://scholar.google.com/citations?user=38_8l8UAAAAJ&hl=en>* |
*Research

[2020-04-20 20:40] joewheaton commented on #6
I like Regions too. I hear you @philipbaileynar on ultimate goal. Question for you, is there a way to query a WMS or WMTS and get the extents of its coverage? If so, the whole "regions" thing seems very simple. Otherwise, still pretty simple, we just have to manually organize these by regions we define.

In the past, we talked about splitting the explorer space into two panes (one below for naviga

[2020-04-22 00:08] joewheaton opened #8 "1.05 might not have been updated everywhere?"
## The Problem

When I installed the [latest 1.05 release](https://github.com/Riverscapes/RaveAddIn/releases/tag/1.0.5), the file I downloaded said 1.05, but on the Install screen, it said it installed 1.04. However, in ArcGIS and in About, it all works and says 1.05.

File in the "who cares" bin?

[2020-04-22 00:15] joewheaton opened #9 "Who so fast? Really nice Basemaps."
I just checked out the new [1.05 basemaps feature](http://rave.riverscapes.xyz/base-maps.html). It works flawlessly. **My question is why is this so much faster then adding the WMS from ESRI's Add layer (other than just the navigation steps)?** What I mean, is it seems really snappy. Maybe its just perception...

[![](http://img.youtube.com/vi/JeZyRajOjd4/0.jpg)](http://www.youtube.com/watch?v=JeZ

[2020-04-22 00:58] joewheaton opened #10 "As assigned... dorked out on basemaps"
Okay...  so I followed the instructions for customizing basemaps. I will add more later, but for now...

See me excited...
[![](http://img.youtube.com/vi/hqalX8waCZo/0.jpg)](http://www.youtube.com/watch?v=hqalX8waCZo "")

This is what I started with. I need to organize it better. So don't update this yet. I'll update this post when I'm happy. But just so you can see where I'm going. @wally-mac wil

[2020-04-22 01:20] philipbaileynar commented on #10
YES!

[2020-04-22 01:40] philipbaileynar commented on #9
Could it be that you're typically zoomed out when you do the Esri approach. But with rave you've already added your project and one or two layers. The first time it retrieves the WMS data it only needs a tiny rectangle.

Other than that, no idea...

[2020-04-22 02:11] #9 closed

[2020-04-22 03:05] philipbaileynar commented on #8
You're right. I forgot to update the ESRI config file for the addin.

[2020-04-22 03:10] philipbaileynar commented on #10
This is so cool. Thanks Joe! I'll wait and see what @wally-mac has to say and see if he has additional map layers to add.

It was interesting in your video that in some cases (I think the transportation) that the sub layers auto-generated within the WMS group layer are sometimes useful. In the topo map example that I tested on there were several levels of single layers which seemed annoying and re

[2020-04-22 03:13] philipbaileynar commented on #6
A prototype of this feature is now like in version [1.0.5](https://github.com/Riverscapes/RaveAddIn/releases/tag/1.0.5). @joewheaton did a nice job of reviewing it in issue #10

We still need to implement the API key capability that will be required for New Zealand. But it's a good start and really starts to make RAVE useful.

[2020-04-22 03:13] #6 closed

[2020-04-22 03:39] philipbaileynar opened #11 "Refresh Base Maps Menu Item"
In @joewheaton video attached in issue #10 he demonstrates the value of being able to reload the current base maps. This might be useful if you're using and editing a local, custom base maps XML file within a RAVE session.

[2020-04-22 03:43] philipbaileynar opened #12 "Base Map API Key"
Some WMS require an API Key in the URL. Provide a way for users to enter this API key in the RAVE options screen and then insert it into the URL at run time.

Some ideas:

1. Add a key/value listbox to the Options screen where users can enter their API keys. Perhaps store these as XML in the APPDATA folder in a new XML file.
1. Each Region in the XML could have an API key "slug" attribute that ide

[2020-04-22 03:45] philipbaileynar opened #13 "Base Map XSD"
We need an XSD for the new [BaseMap.xml](https://github.com/Riverscapes/RaveAddIn/blob/master/RaveAddIn/BaseMaps.xml) file that ships with RAVE. This will also be referenced by the custom file that users write in APPDATA folder.

[2020-04-22 15:10] philipbaileynar commented on #10
Sorry, I couldn't resist. The version number inconsistency meant it was worth doing a new release so I went a head and incorporated Joe's base maps into a new release. See 1.0.6

[2020-04-22 15:10] #10 closed

[2020-04-22 16:29] joewheaton commented on #8
Addressed with 1.06.

[2020-04-22 16:29] #8 closed

[2020-04-22 18:04] joewheaton opened #14 "Think about display order....."
The RAVE toolbar does some clever things on adding to the map. It does look for the parent layer group if you move a layer group around and tries to put stuff in the right place. One thing we DO NOT do now, is consciously think about:
- Which layers make sense as true BASEMAP layers (i.e. down at bottom of TOC... generally raster basemaps)
- Which layers make sense as false BASEMAP context layers,

[2020-04-22 18:09] joewheaton opened #15 "Change Base Map to Basemap"
ESRI and most GIS people refer to it as one word.

[2020-04-22 18:19] philipbaileynar commented on #14
I completely agree. This occurred to me while I was testing. I think you have the right concepts but would prefer to come up with a better name for the layers that sit on top. Overlays?

There's also the risk of overusing terms such as "context". Context projects. Context layers in projects. Context base maps etc...

The transparency (#5 ) is needed and as I think you mentioned it isn't in the lay

[2020-04-22 18:53] joewheaton commented on #14
I like the term "overlays". That is a nice one.

[2020-04-26 15:14] philipbaileynar commented on #7
Quick question....

One other capability available to us is to handle the event when the user starts a new map document. What do you want to happen when this happens and the user has one or more riverscapes projects loaded?

- do nothing (current behaviour)
- close riverscapes projects
- hide rave sociable window

[2020-04-26 20:16] joewheaton commented on #7
Prompt user for a) Keep Current Riverscape Project Open (but do not add to
map... I.e do nothing) , or b) Close open Riverscape Project (s). B is the
most logical default from a user perspective. I see little to no value in
hiding dockable window.

Sent from a little phone

On Sun, Apr 26, 2020, 9:14 AM Philip Bailey <notifications@github.com>
wrote:

[2020-04-30 16:37] sshahverdian opened #16 "Include HUC10 and HUC12 with hydrology"
## The Problem
The hydrology folder in a RS context project has the watershed boundaries for HUC2 - HUC8. It would be useful to also have the HUC10 and HUC12 for cartography purposes, and to use as a mask to clip the HUC8 rasters to make processing times faster when in Arc, rather than loading the HUC8 data for any/all processes.

[2020-04-30 16:43] sshahverdian opened #17 "Flow accumulation layer not accounting for upstream contributing area outside of HUC8"
## The Problem
Data set: MiddleBear (ID) HUC8 16010202 RSContext. The flow accumulation layer does not account for upstream contributing area outside of the HUC8 boundary. The result is that portions of the mainstem Bear river which should have a very large contributing area are identified as having very small contributing areas. It appears that in order to accurately capture the flow accumulation

[2020-04-30 17:10] philipbaileynar commented on #17
@sshahverdian are you trying to display the catchment area cartographically or simply calculate total drainage area for each reach?

Note that the riverscapes context project uses NHDPlusHR which comes with total drainage area pre-calculated. See the TotDASqKm field in the NHD flow lines ShapeFile.

[2020-04-30 17:12] joewheaton commented on #17
Moved to https://github.com/Riverscapes/sqlBRAT/issues/23
For now, all Riverscapes Context issues are part of sqlBRAT.

[2020-04-30 17:12] #17 closed

[2020-05-02 17:17] #15 closed

[2020-05-04 17:59] philipbaileynar opened #18 "Research ArcMap table of contents events"
Is it possible to capture ArcMap table of contents events and change the RAVE project tree accordingly. e.g. highlighting layers in map or visible layer etc.

[2020-05-04 18:00] philipbaileynar opened #19 "Make layer visible feature"
Right click on any layer in RAVE project tree and choose to "make visible". This does:

* Ensure the layer in question and all parent group layers are turned on in Toc.
* Turns off any layers above the specified layer so that the specified layer is visible.

[2020-05-04 18:01] joewheaton opened #20 "Is max and min scale something that goes in layer file or somewhere else?"
Where does one set min and max scale for layers?

![image](https://user-images.githubusercontent.com/9723905/80997620-d13f0800-8dfe-11ea-8417-d263431b0ce0.png)

SHould we think about this for RAVE... especially as we move forward to RAVE business logic helping make transfer to web maps out of warehouse easier in future.

[2020-05-04 18:50] joewheaton commented on #19
I like, but lets make it "Make Visible in Table of Contents".

Does it only turn off with in the a) parent layer group, b) the entire tree, or c) the project parent layer group?

Also, in event that layer in question is not currently present in TOC, it should add and complete?

[2020-05-04 18:54] joewheaton commented on #5
If we end up going to [`.qml`](https://doc.qt.io/archives/qt-4.8/qdeclarativebasictypes.html), instead of `.lyr`, layer transparency is controlled with the `alpha` argument. See [this post](https://gis.stackexchange.com/questions/184026/is-it-possible-to-edit-layer-transparency-in-sld-or-qml-file-for-use-in-qgis)

[2020-05-04 18:54] philipbaileynar opened #21 "Other Files in project tree"
We need the ability to have other files in the RAVE project explorer. e.g.:

* Images
* Databases
* Spreadsheets

The default bevaviour is to attempt the open the file in question. If this fails then simply open the folder in which the file resides.

[2020-05-04 18:57] joewheaton commented on #21
Other obvious ones:
- Text files
- PDFs

[2020-05-04 19:00] joewheaton commented on #21
Good test for BRAT will be to take the `Summary Products' folder and make the PNGs and PDFs visible at same place in tree as project GIS Data (even though they are in a duplicated folder location).

[2020-05-04 23:41] joewheaton opened #22 "Research QML as substitute for Layers"
## The Problem
RAVE currently uses `*.lyr` files as basis for building its symbology that are from ArcGIS 10.4.  The problem is that none of the development team (other than @philipbaileynar) use ArcGIS 10.4 and cannot produce old Layer files without uninstalling their current version or finding an old 10.4 version on another machines. The other irony is this open-source piece of software using so

[2020-05-04 23:47] joewheaton commented on #22
BTW... There is also a toolbox function if you don't like command prompt @wally-mac:
![image](https://user-images.githubusercontent.com/9723905/81024003-4b878080-8e2f-11ea-95ac-b51c886bae30.png)

[2020-05-05 04:06] philipbaileynar commented on #22
I just posted this question to GIS Stack Exchange:

https://gis.stackexchange.com/questions/360591/can-arcgis-desktop-read-any-open-source-layer-definitions

[2020-05-05 04:16] joewheaton opened #23 "Some incremental updates to VBET input business logic"
Hey @philipbaileynar I've updated the business logic and created some 10.4 compliant layer files to go along with it.

![image](https://user-images.githubusercontent.com/9723905/81034593-e34b9580-8e54-11ea-8cf0-987aabffd94f.png)

[vbet-lyr.zip](https://github.com/Riverscapes/vbet/files/4578887/vbet-lyr.zip)
[vbet-businesslogic.zip](https://github.com/Riverscapes/vbet/files/4578891/vbet-businesslog

[2020-05-05 19:38] joewheaton opened #24 "Hillshades (most important layer) have gone broken in VBET"
## The Problem
In the latest release 1.0.9, the add DEM Hillshade to the map is broken for VBET projects. For the first time, it actually throws an error message. What's odd, is file is still there in folder so must be in business logic?

![image](https://user-images.githubusercontent.com/9723905/81107522-97403580-8ed4-11ea-8528-a6c11914c49b.png)

## Reproduction steps
[![](http://img.youtube.com/

[2020-05-05 19:45] joewheaton opened #25 "Some Bugs in 1.09 for VBET"
## The Bugs
[![](http://img.youtube.com/vi/xtKPvNjlxUc/0.jpg)](http://www.youtube.com/watch?v=xtKPvNjlxUc "")

In summary:
- NHD Flow Areas in [`vbet.xml` business logic](https://github.com/Riverscapes/RaveAddIn/blob/master/RaveAddIn/XML/vbet.xml#L13) incorrectly using symbology key from polyline of "flow_lines". It should be fixed to:
[code]

- Slope analysis layer not using slopeDeg.lyr
- Hill s

[2020-05-05 20:04] #24 closed

[2020-05-05 20:14] joewheaton commented on #25
1.10 fixed all these. Thanks!

[2020-05-05 20:14] #25 closed

[2020-05-05 20:21] joewheaton commented on #23
Seems like you incorporated all these.

Quick question @philipbaileynar. Can we force display order in TOC (different than #14) so that "Drainage Network" comes above "Lines of Evidence"?

[2020-05-05 23:58] philipbaileynar commented on #23
@joewheaton I actually think this is a bug. Drainage Network appears above the evidence in the project tree therefore it should be above it in the ToC.

[2020-05-06 04:13] philipbaileynar opened #26 "RAVE project loading log"
When developing business logic, it can be infuriatingly hard to know what's going on, why datasets don't load in the project tree, which business logic is being used etc.

It would be invaluable if RAVE produced a log file stating which business logic it used and what happened during NODE and Children parsing. Basically help developers know why stuff is missing from the tree!

[2020-05-06 05:24] joewheaton commented on #26
And like you have with GCD, it would be really handy if what was written to log file is also displayed at bottom of dockable window in status bar.

[2020-05-06 05:35] joewheaton opened #27 "Node Metadata Exposed Please"
A lot of  `project.rs.xml` files have `<MetaData>` tags within the types.  WE already have a useful *View Project MetaData* right click command for the project.
![image](https://user-images.githubusercontent.com/9723905/81141064-b2d52b80-8f28-11ea-8628-12a0b49c34fb.png)

# Request
We need to add *View Item Metadata* at the node level (grayed out if no `<MetaData>` tags for that node). I would sugg

[2020-05-06 14:29] philipbaileynar commented on #21
This is implemented but there's a bug causing the files not to open.

[2020-05-06 17:03] #23 closed

[2020-05-06 17:05] joewheaton opened #28 "TOC Sort Order and Business Logic"
In #23 we discussed whether sort order should be coming from business logic (see also #14, which is more complicated):

I opened this Bug as @philipbaileynar said that's what it was and we really already completed what #23 was about.

[2020-05-07 15:11] joewheaton opened #29 "Manual Add to RS Project"
## The Problem
We want to facilitate ownership in a project. I was thinking about an *easy* way to allow this. I just downloaded a really cool layer I'd like to add to my project. What do I do?

## Suggestion
A simple sequence that is two-fold. First in the explorer the user right clicks on a parent or folder node in tree (might be smart to allow user to add folders/parent node to a project) and t

[2020-05-07 15:14] joewheaton opened #30 "What is the correct xsi:noNamespaceSchemaLocation to use?"
Thanks @philipbaileynar and @MattReimer for the helpful [guidelines on XML editing](https://riverscapes.xyz/Tools/Technical_Reference/Documentation_Standards/Riverscapes_Projects/xml_validation.html). In it, you say:

While I understand *what* you are saying, I have no idea what is the correct one to use or how to request or add myself new tags etc. Do you have this documented somewhere already or

[2020-05-07 16:18] philipbaileynar commented on #30
I will enhance the validation file to refer to the existing documentation:

* [The Project XML page already describes which one to use](https://riverscapes.xyz/Tools/Technical_Reference/Documentation_Standards/Riverscapes_Projects/Project/projectxml.html)
* The [RAVE toolbar does worse job describing the XSD location](http://rave.riverscapes.xyz/business-logic.html), but I will enhance this later

[2020-05-07 16:37] philipbaileynar commented on #29
Lots to unpack here, but in essence, I like this concept. The challenge will be that now we have multiple versions of the same project floating about; the master copy in a warehouse and multiple copies of users' computers that may have been altered. How do we synchronize all these versions simply and without conflicts?

This will get easier when we get funding to develop a warehouse viewer dockabl

[2020-05-07 16:37] philipbaileynar commented on #29
@MattReimer I am scared to ask your opinion on this!

[2020-05-07 18:05] philipbaileynar commented on #30
Talked to with @MattReimer and everything is a bit scattered. There are several versions floating around dating back to the CHaMP days. We are actively consolidating all varieties of the XSD and will post updated URLs early next week.

The one XSD that is stable and will not change is the [RAVE business logic XSD](https://raw.githubusercontent.com/Riverscapes/RaveAddIn/master/RaveAddIn/XML/XSD/pro

[2020-05-08 03:48] philipbaileynar opened #31 "Add All Layers to Map"
right clicking on project node in RAVE toolbar and choosing "add all layers to map" does not work properly for @kbartelt inundation project shared on 7 May 2020 via box. The layers get added to the map without symbology and then there's an exception at the end of the process.

[2020-05-08 17:41] MattReimer commented on #30
Here's the deal: All XSD and XML examples are now in a new repo:

https://github.com/Riverscapes/RiverscapesXML

We now serve all XSD files from here
http://xml.riverscapes.xyz/

The new URLS look like this.

http://xml.riverscapes.xyz/Projects/XSD/V1/VBET.xsd

For now you can create the paths by finding the XSD you need in github and using that same path at the end of http://xml.riverscapes.xyz/

[2020-05-09 13:57] MattReimer commented on #29
My opinion is that I'm waiting to find out what this feature needs to be. Obviously if people are expecting to upload their custom layers we will have challenges.

Right now there is no attempt to merge XML files. Mine overwrites yours. Doing this isn't impossible but it will not be a small amount of effort and we need to run through all the cases carefully before implementing anything.

Questions

[2020-05-09 14:01] MattReimer commented on #27
Remember there are 3 different places Metadata can be in a project XML: project-level (top of the file), realization-level and layer-level

[2020-05-13 00:58] joewheaton opened #32 "Can we add TIN as a Node Data Type?"
I'm making the Topo business logic and realize that TINs are not one of current four recognized [node data types](http://rave.riverscapes.xyz/business-logic.html#node-data-types). Can we add them so that TINs get added in ArcGIS RAVE?

[2020-05-13 01:12] MattReimer commented on #32
Just for reference:
https://github.com/Riverscapes/RiverscapesXML/blob/master/Projects/XSD/V1/RiverscapesProject.xsd#L186-L190

[2020-05-13 01:37] joewheaton commented on #32
Thanks @MattReimer. So I try:
` <Node xpathlabel="Name" xpath="Realizations/Topography/TIN/WaterSurfaceTIN[@id='WaterSurfaceTIN']" type="TINType" symbology="" />`

And it still can't add it. Hmmm.

[2020-05-13 01:40] MattReimer commented on #32
Sorry Joe, that reference was mainly for @philipbaileynar when he goes to implement this.

We'll need to support that node type in Rave and push out a new version. I'll leave the rest to Philip.

[2020-05-13 01:42] joewheaton commented on #32
Understood... Also, thinking that I should be using the name instead from here:
https://github.com/Riverscapes/RiverscapesXML/blob/master/Projects/XSD/V1/RiverscapesProject.xsd#L112-L137

However, I take your point.... it 'aint plumbed yet. Thanks.

[2020-05-13 05:38] joewheaton opened #33 "Some issues with CHaMP Topo Business Logic"
In [commit e6bd92e78f699b7876bae411e70505a726652a7e](https://github.com/Riverscapes/RaveAddIn/commit/e6bd92e78f699b7876bae411e70505a726652a7e) I tried to get a draft business logic working for the [CHaMP Topo Toolbar Riverscapes Projects](http://champtools.northarrowresearch.com/).

The layer files I used (or attempted) to are here: [topo layer files](https://github.com/Riverscapes/RaveAddIn/tree/

[2020-05-13 18:02] philipbaileynar opened #34 "Error When Adding to Map with Layer File in ToC"
See @kbartelt video where she tries to add a RAVE dataset to the map while having a layer file in the ArcMap ToC.

[![RAVE Issue](https://img.youtube.com/vi/GAjZvng5TM8/0.jpg)](https://www.youtube.com/watch?v=GAjZvng5TM8 "RAVE Issue")

[2020-05-13 18:04] philipbaileynar opened #35 "Layers Getting added to ToC in reverse order?"
In the video below, @kbartelt demonstrates that items lower in the project tree are getting added higher up in the ToC.

[![RAVE Issue](https://img.youtube.com/vi/GAjZvng5TM8/0.jpg)](https://www.youtube.com/watch?v=GAjZvng5TM8 "RAVE Issue")

[2020-05-13 22:04] philipbaileynar commented on #33
Just taking a first look. @joewheaton you are "over specifying" the XPaths. In the following snippet from your topo business logic, you are trying to select nodes based on both their tag name (e.g. `Detrended`) and **also** their id (e.g. `[@id='Detrended']`).

[code]

Only detrended DEMs will have the tag name `Detrended` so the ID filter can be omitted.

[code]

[2020-05-13 22:10] philipbaileynar commented on #33
Next issue... RAVE only understands node types of "raster", "vector" and "file" (and soon "TIN"). It does not understand the types "DEM" and "Hillshade". I know it's confusing... we have project XML types for these special rasters, but not RAVE business logic types. The symbology key will ensure that they are displayed correctly.

[code]
should be:

[code]

[2020-05-13 23:18] joewheaton commented on #33
Okay thanks... super helpful. I will make these changes locally here to learn and test. Question - should I make the fixes and commit them to https://github.com/Riverscapes/RaveAddIn/blob/master/RaveAddIn/XML/topo.xml or are you already doing that? I'm happy to. I just don't want to collide or duplicate.

[2020-05-13 23:20] philipbaileynar commented on #33
You can make the fixes. I am making them locally, but good education for you to implement. I am in the midst of adding TINs.

[2020-05-13 23:29] philipbaileynar commented on #33
OK, here's my biggest criticism yet!

You have flattened the topo project and grouped together items of different dimensionality.

There is a fundamental concept to the topo project. Note the word multiple below!!!!!!

[code]

Note that there can be many TINs within a topo project. Each TIN is a realization that owns its own DEM, associated surfaces etc. It then owns both a wetted and bankfull sta

[2020-05-13 23:55] joewheaton opened #36 "Get Labels from *.lyr files to work."
## The Problem
In Number 11 & 12 of #33, we bring up this problem:

![image](https://user-images.githubusercontent.com/9723905/81877576-ab261000-9542-11ea-8705-7e22a2acf351.png)

@philipbaileynar says this is a new feature. Just flagging it here.

[2020-05-13 23:58] joewheaton commented on #33
Note that commit https://github.com/Riverscapes/RaveAddIn/commit/6667eea0709eeaeb4a56e80de9ed6c2ab600c708 takes care of 1, 4, 5, 6 and 7.

[2020-05-14 00:00] joewheaton commented on #31
Note... I also have same problem. The layers do all get added, but they do not have symbology.

[2020-05-14 15:00] philipbaileynar commented on #33
@joewheaton a few things:

1. I just pushed a fix to topo.xml to fix invalid dataset types in the business logic. Note the only types are "raster", "vector", "file" and now "tin". DEM and Hillshade are invalid.
1. The previous point tells me that you don't have Visual Studio Code validation working. We need to fix this ASAP. This process is hard enough with validation, it's virtually impossible if

[2020-05-14 15:20] joewheaton commented on #33
@philipbaileynar Thanks for fix on 1.

As for 2, that was my question about what XSD to use. I have a call in a few, but lets check in later this morning and I can show you what I'm doing.

Re, 3, yes I can confirm ALL were produced as 10.4 *.lyr files.

[2020-05-15 00:06] philipbaileynar opened #37 "Update RAVE business logic XSD"
Update all the [RAVE business logic XML files](https://github.com/Riverscapes/RaveAddIn/tree/master/RaveAddIn/XML) to reference the XSD online using the "GitHubContent" URL:

[https://raw.githubusercontent.com/Riverscapes/RaveAddIn/master/RaveAddIn/XML/XSD/project_explorer.xsd](https://raw.githubusercontent.com/Riverscapes/RaveAddIn/master/RaveAddIn/XML/XSD/project_explorer.xsd)

Make sure the web

[2020-05-15 05:19] #21 closed

[2020-05-15 18:07] joewheaton opened #39 "Change default projection for first layer added to map from RAVE"
## Downside of a smart feature/choice
For these new production grade network tools (e.g. VBET, sqlBRAT) weare deliberately doing everything in `GCS_WGS_1984` so that it works anywhere in world. This is in part because many watersheds or HUCs span multipe UTM zones. @philipbaileynar is super careful that parameters are still in m and we convert on the fly.

ArcGIS in a new map will automatically ch

[2020-05-15 18:08] joewheaton commented on #39
Ironically, because I used HUC boudnaries with an image as text... my "pretty example" has distorted text.

[2020-05-15 22:32] joewheaton opened #40 "Geotagged Photos"
Many have asked to see geo-tagged photos in Riverscapes projects. I'm incorporating this in the Planning LTPBR projects and I know  @nick4rivers  will include it in his LTPBR Design stuff.

## Manual Option
ESRI has an easy way to do this where you just put your Geotagged photos in a folder (inside project if you want it there), and point to it and run this  really simple [geoprocessing tool](http

[2020-05-15 22:37] MattReimer commented on #40
Interesting idea. We could extend one of the nodes to always allow photo additions and geotagged photos could be a kind of geo dataset.

The contribution back is tricky but the xml itself shouldn't be too hard

[2020-05-16 13:57] joewheaton opened #41 "References as Node type?"
# The Request / Challenge
In many riverscape projects, it would be nice to provide references. Typical references to want to include:
- References as related reports to cite (e.g. background papers, reports, datasources etc.)
- The formal data citation (e.g. with DOI) for the paper, report, publication associated with the RS project
- How to cite *this* Riverscape Project (e.g. warehouse URL - htt

[2020-05-16 15:14] philipbaileynar commented on #40
I'm giddy with excitement for this feature. It has the same "exponential utility" as RAVE itself.

A few random thoughts:

* A generic feature whereby any riverscapes project type could just have a subfolder called "Photos" containing JPGs with corresponding node in the project file. No other metadata or individual photo listing the project file. When RAVE sees this folder it builds the ShapeFile

[2020-05-16 15:29] philipbaileynar opened #42 "Georeference JPGs"
RAVE needs the ability to recognize geotragged JPGs and display them as rasters

Adding @kbartelt useful info from [another issue](https://github.com/Riverscapes/inundation/issues/6#issuecomment-629511748):

I believe the coordinate system and transformation is contained in the .jgw file

![image](https://user-images.githubusercontent.com/39836333/82099162-d5530b80-96c3-11ea-9d0e-0a9bbaf0be5b.png)

[2020-05-16 23:36] joewheaton commented on #40
Awesome ideas @philipbaileynar

[2020-05-18 16:46] philipbaileynar opened #44 "Basemap help button"
Add a button to the RAVE options screen that links to the Basemaps documentation.

[2020-05-18 19:42] philipbaileynar opened #45 "Project Views"
Both @joewheaton  and @wally-mac have inquired whether RAVE can support the need for non-expert users to load curated maps. For example, a non-expert loads a BRAT project and immediately the ArcMap table of contents loads a subset of the project layers, some with visibility turned on.

These "curated maps" would replace the existing Story Maps. They draw new users attention to the core outputs of

[2020-05-18 20:35] wally-mac commented on #45
@Cashe Rasmussen <cashecras@hotmail.com> can you work on this task? Philip
can provide the guidance on this task.  Thank you

On Mon, May 18, 2020 at 1:42 PM Philip Bailey <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2020-05-18 20:37] Cashe93 commented on #45
No problem. Thanks!

[2020-05-18 23:58] philipbaileynar commented on #45
Thanks @wally-mac . Just hold off for a few days @Cashe93 until everyone has reviewed this proposed feature and we agree on the specifics. I will then implement the ability to define curated maps and you can then go populate the business logic.

[2020-05-19 01:20] joewheaton commented on #45
# Clarification of Concept
Thanks @philipbaileynar for this thoughtful suggestion. I think we want to hold the label of *curated maps* for something else that a group (e.g. @wally-mac and ETAL) do to really provide extra calibration, validation, special attention and real curation of. I will detail that in a separate post. However, I really like what you're suggesting here. I think we should call

[2020-05-19 01:22] joewheaton commented on #45
@philipbaileynar and @wally-mac, if we're agreed on this feature, lets add it to the development queue of enhancements. Once it gets implemented, task @Cashe93 with creating 2 or 3 of these `<HighlightedViews>` for Riverscapes Context and BRAT. Then we can document and run.

[2020-05-19 01:37] joewheaton opened #46 "Curated Views - The real thing"
In #45, @philipbaileynar proposed the idea of **highlighted views** as a way of promoting common views of the primary outputs or (TOC collection) for a map view of a riverscapes project. This is really powerful and applies to **all** projects of a specific riverscapes project type (e.g. BRAT, GUT, VBET). What we need is a concept that applies to the *specific* riverscapes project that someone has

[2020-05-19 01:39] wally-mac commented on #45
I really like the idea. I agree Once it gets implemented, @Cashe93
<https://github.com/Cashe93>  can you create 2 or 3 of these
<HighlightedViews> for Riverscapes Context and BRAT? We can discuss details
later.

On Mon, May 18, 2020 at 7:23 PM Joe Wheaton <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2020-05-19 07:55] joewheaton opened #47 "Hyperlink URL File Type"
Related to #40 and #41, we need a way to easily add URLs to projects, which are exposed in business logic as their own type.  @MattReimer or @philipbaileynar what are some ways we can do this. For me, this came up for wanting to add to a project links to methods on a website.

# Some Thoughts on How
## One option is a `*.url`
As a windows user, one thing that comes to mind is the `*.url` that gets

[2020-05-19 13:14] MattReimer commented on #47
I'm not a fan of a separate file to just contain a url but I think any of the other suggestions would be fine.

Links get used for lots of different things. Let's take a moment and really think what we need this to do.

I think implementing a smart-ish metadata renderer would be good to have so if a url is detected it gets automatically linked.

Maybe though, we need a more advanced url type too t

[2020-05-19 23:15] philipbaileynar commented on #45
OK let's just call them "Views" or "Project Views". So the Business Logic XML would become:

[code]

[2020-05-19 23:18] joewheaton commented on #45
Sounds good on Project Views and simplifying it down to `<Views>` and nested `<view>` tags.

[2020-05-21 18:17] Cashe93 opened #48 "BRAT iGeo_Validation"
**Passed:**
iGeo_ElMax
iGeo_ElMin
IsPeren

**Failed:**
iGeo_Slope
TotDASqKm
iPC_Road
iPC_RoadX
iPC_RoadVB
iPC_Rail
iPC_RailVB
iPC_DivPts
iPC_Canal
Agency --> all entries for sqlBRAT are blank

[Google Sheet] https://docs.google.com/spreadsheets/d/1NerNqb4U6uffCRo7g8uljmrqGKKgrWq9xpFj44QLEyc/edit?usp=sharing

[BRAT iGeo Validation.xlsx](https://github.com/Riverscapes/RaveAddIn/files/4664031/BRAT.iG

[2020-05-23 21:02] sshahverdian opened #49 "broken links when opening map"
When opening an existing map in Arcmap all files that were added to the map using RAVE and a riverscapes context project had broken links (red exclamation points).

[2020-05-23 21:38] joewheaton commented on #49
Can you please reproduce this behavior with a video? Add stuff out of project to map. Save mxd. Close reopen and show what's happening. I have not had this happen and you don't provide enough detail to troubleshoot. If it on user side we need to pinpoint so we can write better documentation or help them avoid. If it is a real big, we need to reproduce it to fix it. Thanks!

[2020-05-23 22:47] sshahverdian commented on #49
Sending you an 2 videos in an email attachment - it doesn't appear that the problem is with RAVE or .rs projects themselves - but I could still use some help troubleshooting whatever is going on.

[2020-05-24 03:27] philipbaileynar commented on #49
I have not seen this behaviour. @joewheaton I wonder if arcmap is storing that it has a layer file in the table of contents and not the actual dataset that we end up pointing the layer at.

Scott do you need map documents at all? Can you just use RAVE to reload from an empty map document during each session. If you have additional layers in the map then just save the document. But when you reload

[2020-05-24 16:48] sshahverdian commented on #49
@philipbaileynar I reproduced the issue once, when the map document was being opened from Box, but when I saved the map document on my desktop everything worked fine - see both videos. Hopefully it's not a RAVE issue, but since I work off of Box, I need to get it sorted regardless.

Re: map documents - I can re-open from RAVE and no, it's not a huge deal for me. But as soon as I need to share a ma

[2020-05-24 18:50] philipbaileynar commented on #49
Were you switching between computers Scott? Is there a chance that the files had not synched down from box at first?

I know this sounds lame but actively editing files residing in synchronization software is fraught with problems. Especially if more than one person is using them at the same time.

[2020-05-24 19:20] sshahverdian commented on #49
I wasn't switching between computers. No one else was editing these files.

In both cases the .rs projects were on Box, however the .mxd was saved to different locations in the two cases - once on my desktop, once on Box. The .mxd on box showed that it was in fact synched when I re-opened it on Box.
Re: editing files on synchronization software - I'm happy to take any and all advice, whatever is b

[2020-05-27 00:09] joewheaton commented on #49
From @sshahverdian :
## Broken Links:
[![](http://img.youtube.com/vi/zs0bJUZoopw/0.jpg)](http://www.youtube.com/watch?v=zs0bJUZoopw "")

## Not-Broken Links:
[![](http://img.youtube.com/vi/W-SSXtjrelw/0.jpg)](http://www.youtube.com/watch?v=W-SSXtjrelw "")

[2020-05-27 00:13] joewheaton commented on #49
So @philipbaileynar , we went through this and we should both be aware of this issue for Box Drive users (i.e. watch Scott's videos). I don't  think this is a RAVE problem, but just a GIS problem of working with Box Drive (which uses a virtual ISO map, and creates illusion of things on disc), and most places this was causing problems for Scott were folders that he did not have checked for "offline

[2020-05-27 00:13] #49 closed

[2020-05-28 21:13] wally-mac commented on #46
@CHafen This might be something within your wheelhouse. Please have a look at what Joe has provided and feel free to reach out to him for further clarification.

[2020-06-02 00:02] tyler1218hatch opened #50 "Add compatibility for pyBRAT 3 projects"
pyBRAT 3 has been run on many projects, and as such, it would be useful to be able to view those projects using RAVE. pyBRAT 3 already generates a project XML, so this should just be a matter of creating a business logic XML and some symbology.

@philipbaileynar, can you point me in the right direction to get started on this? Thanks!

[2020-06-02 00:26] philipbaileynar commented on #50
Good idea @tyler1218hatch !

1. [Download the brat.xml business logic](https://github.com/Riverscapes/RaveAddIn/blob/master/RaveAddIn/XML/brat.xml) and save it in the same folder as one of your pyBRAT3 projects.

2. Rename this file to `pyBRAT.xml` (note that it must have a unique name that distinguishes it from sqlBRAT that uses the unique name `BRAT`)

3. Edit the top of the pyBRAT.xml business

[2020-06-02 02:43] joewheaton commented on #50
You might want to copy a bunch of the stuff from Riverscapes Context too as
it is what was in pyBRAT 3...

Sent from a little phone

On Mon, Jun 1, 2020, 6:26 PM Philip Bailey <notifications@github.com> wrote:

[2020-06-02 05:01] philipbaileynar opened #51 "Topo Project Cross Section Symbology"
Super minor tweak to topo project symbology that might be helpful...

Can you please add a single symbology layer for use by both wetted and bankfull cross sections with two classes:

- `IsValid = 0` represents poorly aligned cross sections, or cross sections that are anchored to a side channel but traverse the mainstem etc. Also cross sections that exceed 4 standard deviations of the average widt

[2020-06-02 14:11] philipbaileynar commented on #31
I actually don't think that this feature is broken. The problem seems to be that some raster symbology layers are not working properly. Since most projects have raster layers this problem is most likely to manifest itself when you throw all the layers of a project at a map.

I will close this issue if we can't recreate this issue after the next RAVE release.

[2020-06-02 18:01] philipbaileynar commented on #31
Remember to test intermediate "branch" "add all children" to tree as well.

[2020-06-02 18:57] philipbaileynar commented on #37
Was fixed by e5a5468f066d01a28f39e2844b358c98534b2f86

[2020-06-02 18:57] #37 closed

[2020-06-02 22:26] joewheaton commented on #51
Can do...

Do you want these layers to appear twice (once with only valid showing) and other with both showing up?

[2020-06-02 22:37] joewheaton commented on #51
Before I do layer files and new nodes... @philipbaileynar  is this what you had in mind?
One for type (and only show what we used):
![image](https://user-images.githubusercontent.com/9723905/83576411-f9e61a80-a4ee-11ea-9a2c-fac51fd6cb98.png)

Another for what conveying results of validation?

![image](https://user-images.githubusercontent.com/9723905/83576602-56e1d080-a4ef-11ea-9fc5-3a55fb89a939.p

[2020-06-02 23:01] philipbaileynar commented on #51
Love it! Perfect.

I just didn't want someone uninformed criticising the XS because some are at silly angles.

What you have done makes it much clearer!

Thanks

[2020-06-02 23:03] joewheaton commented on #51
Okay... so I go from 2 to 4. Easy

_____________________
Dr. Joseph M. Wheaton
435-554-1247 (direct) | http://www.joewheaton.org

On Tue, Jun 2, 2020 at 5:02 PM Philip Bailey <notifications@github.com>
wrote:

[2020-06-02 23:42] joewheaton opened #54 "10.3 Layers for Riverscapes Context"
We think 10.3 raster layer files will work with 10.4 whereas 10.4 are not. Please test this by exporting the raster layers from a RS Context project....

[2020-06-03 00:11] #5 closed

[2020-06-03 00:11] #32 closed

[2020-06-03 00:11] #44 closed

[2020-06-03 00:21] #54 closed

[2020-06-03 03:32] #51 closed

[2020-06-03 03:39] philipbaileynar opened #56 "Persistent Wait Cursor After Add to Map"
I am getting a lingering wait cursor after adding any layer to the map. ArcMap is responsive, so it's finished the process. The code just needs to revert to the default cursor.

[2020-06-03 04:05] #56 closed

[2020-06-03 05:15] joewheaton opened #57 "Hydro Velocity Vectors not working properly"
## The Problem
It is really hard to get velocity vectors to display properly in ArcGIS. The current Hydro projects have this revealed as "Velocity Vecotrs', but all it is right now is the location. The layer file is not currently working. Needs some exploration at some point....

[2020-06-03 05:21] joewheaton opened #58 "Collapsed tag not seeming to work"
## The Problem
In both RAVE 1.0.10 and 1.1.0, I have tried business logic with `collapsed="true"` attributes in `<Childern>` tags. It doesn't seem to be working...
![image](https://user-images.githubusercontent.com/9723905/83598691-9af0c780-a527-11ea-88c6-cf3cc5a9023e.png)

But in RAVE, on opening it looks like:
![image](https://user-images.githubusercontent.com/9723905/83598736-b956c300-a527-11ea

[2020-06-03 05:22] joewheaton commented on #35
@philipbaileynar, just confirming this was not addressed in 1.1.0....

[2020-06-03 05:23] joewheaton commented on #31
Sorry, just confirming that [1.1.0](https://github.com/Riverscapes/RaveAddIn/releases/latest) has same behavior.

[2020-06-03 05:28] joewheaton opened #59 "Topo TIN not working in 1.1.0"
In 1.1.0, TINs now work! Yay! However, only the Water Surface TIN is currently plumbed in the business logic. We need to do same for Topo TIN.

[2020-06-03 05:31] joewheaton opened #60 "Grain Size Layers Not Displaying with Topo Business Logic"
## The Problem
The Grain size ocular estimates (4 layers) are not working with RAVE 1.1.0

[2020-06-03 05:34] joewheaton commented on #36
Confirming that this was not addressed in 1.1.0.

[2020-06-03 05:39] joewheaton opened #61 "Some of the Channel Units don't have required fields"
## The Problem
Some of the topo projects have channel units with out the grain size fields and Hawkins Channel Units. These exist burried in the ChannelUnits.csv, but we need a a way to automate the spatial join.

![image](https://user-images.githubusercontent.com/9723905/83599761-371bce00-a52a-11ea-8ac5-5d7a0e2dc128.png)

[2020-06-03 05:53] joewheaton opened #62 "BRAT Business Logic Rasters should be consistent with RS Context"
## The Problem
The BRAT business logic should not have its own different Topography symbology for DEM, Slope, Drainage Area and Flow Accumulation. It should just use same as RS_Context. This is fixed by referring to same symoblogy keys and making sure it uses layers in the Common folder.

[2020-06-03 06:02] joewheaton opened #63 "VBET Business Logic Round 2"
## The Problem
We need to update the VBET business logic to be more consistent with the Riverscape Context. Special care should be made to use symbology keys that are common and in `Shared`, and to use consistent labels. Namely:
- [ ] Drainage Network should use same as Hydrography in RS_Context
- [ ] Slope Raster should be same as Slope Analysis
- [ ] HAND Raster is same but label needs updating

[2020-06-03 15:50] philipbaileynar commented on #36
Confirmed. This didn't make it in.

[2020-06-03 15:52] philipbaileynar commented on #59
Make sure you are using the business logic that ships with the software. I fixed this in 1.1.0 release.

[2020-06-03 15:58] joewheaton commented on #59
Good catch... you were right. I had an old residual `topo.xml` in the root of the project. Tested and works now.

[2020-06-03 15:58] #59 closed

[2020-06-03 17:54] joewheaton commented on #57
Shoot... no that's just my crap typing on the 'Velocity Vectors'... obviously vectors.

You're comment prompted me to double check the [`topo.xml](https://github.com/Riverscapes/RaveAddIn/blob/master/RaveAddIn/XML/hydro.xml#L20) business logic and I realized that the  `symbology="" ` was blank:
[code]
Anyhow... I updated the business logic on a new branch (won't put in pull request until we can cr

[2020-06-03 22:02] tyler1218hatch commented on #62
@joewheaton I don't see symbology for drainage area or flow accumulation in the 'shared' folder. Should I add them in by copying from RS_Context? Or just directly reference the RS_Context Folder?

[2020-06-03 22:36] joewheaton commented on #62
That's right. They are in the [`rs_context`](https://github.com/Riverscapes/RaveAddIn/tree/master/RaveAddIn/Symbology/RSContext) folder. You'll need to move them in a new branch to Shared, and update BRAT business logic symbology keys accordingly. Make sense?

[2020-06-03 23:02] kbartelt commented on #31
I tested this with intermediate branches of the RAVE tree and had the same issue

<iframe width="560" height="315" src="https://www.youtube.com/embed/Y3v0p-0DUvA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

[2020-06-03 23:19] tyler1218hatch commented on #62
Yes, that makes sense. When writing in the symbology name in the BRAT XML, is there a specific way to tell it to look in the Shared folder? Or will it look there as long as it can't find what it's looking for in the BRAT symbology folder?

[2020-06-04 00:02] joewheaton commented on #62
@philipbaileynar  can confirm, but my understanding is there are a bunch of places RAVE looks for the symbology key (i.e. name of layer file) to use. It grabs the first one it can find (which can make it hard to troubleshoot). The search order/preference is:
- Local Project
- Local `AppData/RAVE/Symbology/ProjectType` folder
- Local  `AppData/RAVE/Symbology/Shared` folder
- RAVE hidden installatio

[2020-06-04 00:03] philipbaileynar commented on #61
@joewheaton in the grand waterfall of CHaMP data, the grain size fields are calculated after the topo survey is processed. They might be present in some surveys, but typically these values were unavailable when crews were processing surveys as they were part of the aux metric process. Some historical surveys might have them if they were reprocessed after the fact.

I have all the grain size metric

[2020-06-04 00:05] joewheaton commented on #61
Cool... should we leave it in business logic and change label to have (if present) and (if joined) and then leave this as enhancement for a rainy day?

[2020-06-04 00:05] philipbaileynar commented on #31
OK, I will try and reproduce. Right now I can't add any rasters to the map because most of the symbology is broken for me on 10.4. I can try to figure out a workaround. I will shout if I can't reproduce this. Thanks @kbartelt  for the video.

[2020-06-04 02:12] philipbaileynar commented on #61
Yeah I like that. Bigger fish to fry!

[2020-06-04 02:58] #31 closed

[2020-06-04 02:58] #58 closed

[2020-06-04 14:30] joewheaton opened #66 "Update business logic for most rasters to be transparent"
I'm assigning to @tyler1218hatch and @Cashe93. You two can agree on who will update what on what branches.  Other than hillshades, most (not all) of our rasters should probably default to be transparent (~ `transparency="40"`). See @philipbaileynar example in https://github.com/Riverscapes/RaveAddIn/blob/master/RaveAddIn/XML/topo.xml#L116.

Please update:
- [x] Other [Topo.xml](https://github.com/

[2020-06-04 20:49] tyler1218hatch commented on #66
[Here's](https://github.com/Riverscapes/RaveAddIn/tree/AddingTransparencies) the branch I'm using for this issue.

@Cashe93 I'll do BRAT, VBET, and Hydro if you do Topo and rsContext.
@joewheaton What kind of rasters won't be transparent? Would that be non topographical ones like vegetation data?

[2020-06-04 20:51] Cashe93 commented on #66
Sounds good @tyler1218hatch. Just to confirm, is it alright to work from the same branch, or do I need to create a separate one?

[2020-06-04 20:52] tyler1218hatch commented on #66
I think we should work on the branch together. That should be fine since we're not working on conflicting files. Just let me know when you're finished, then we can do a pull request.

[2020-06-04 21:02] Cashe93 commented on #66
@tyler1218hatch, how do I access this branch in git Desktop? Should it be an option automatically under the 'Current branch' tab or do I need to pull it from this repository somehow?

[2020-06-04 21:04] tyler1218hatch commented on #66
It should just be an option under all of the available branches. Try fetching the origin or closing and reopening github desktop if none of that works.

[2020-06-04 21:04] Cashe93 commented on #66
@tyler1218hatch it just popped up. Thanks!

[2020-06-04 21:31] Cashe93 commented on #66
@tyler1218hatch I just committed the changes for both rs_context and topo. Can you see the commits on your end? It's saying I don't have write access so I'm curious to see if it's only committing changes locally.

[2020-06-04 21:37] tyler1218hatch commented on #66
I don't see them. I'll try to figure this out soon.

[2020-06-04 21:40] Cashe93 commented on #66
Sounds good @tyler1218hatch. I've also brought it to the attention of both Joe and Philip so hopefully, it'll be resolved soon.

[2020-06-04 21:42] tyler1218hatch commented on #66
From what I can tell, only the master branch has restrictions. So I'm not sure why this one isn't letting you push to it. If you want to send a video of the issue that could help, or we can just wait to hear back from Phillip or Joe.

[2020-06-04 23:28] philipbaileynar commented on #63
Let me try increasing your permissions

[2020-06-04 23:50] Cashe93 commented on #63
Thanks @philipbaileynar. Let me know what I can/need to do on my end.

[2020-06-04 23:55] philipbaileynar commented on #63
Please try again @Cashe93

[2020-06-05 02:51] Cashe93 commented on #63
That seems to have worked. Thanks @philipbaileynar!

[2020-06-05 03:00] Cashe93 commented on #66
Hey @tyler1218hatch, it appears that Philip has resolved the issue. Are you now able to see those commits on your end?

[2020-06-05 03:39] Cashe93 commented on #63
@joewheaton could you elaborate a bit more on 'Drainage Network should use same as Hydrography in RS_Context'? Did you want the contents of VBETs Drainage Network  to match the contents of Hydrography from RS Context? i.e. same shapefiles, labeling and symbology?

[2020-06-05 03:44] tyler1218hatch commented on #66
Yes, I can see them! I’ll finish this up and do a pull request early tomorrow.

[2020-06-05 14:59] joewheaton commented on #66
In response to:

Actually, I typically turn on the veg with transparency too (the context of hillshade is really good)... hmmm let me think.  Maybe just make them all and if @CHafen or I figure something out, we'll go from there.

As best I can tell, you guys sorted out other stuff? REmember, if you want us to get the notifications when you mention us use the `@philipbaileynar` instead of just Phi

[2020-06-05 21:01] Cashe93 commented on #63
@joewheaton I just submitted a pull request. I've placed the symbology layers for the intermediate thresholds in the VBET symbology folder (within the VBET-bl-2 branch).

[2020-06-06 00:46] joewheaton commented on #63
Sorry for slow reply @Cashe93 ... been slammed.

Hydrography in RS_Context'?

I just mean to copy the same business logic over. We have the same files for the network in both places, so might as well just bring in those business logic nodes under the Hydography:
![image](https://user-images.githubusercontent.com/9723905/83931959-d6280c00-a75c-11ea-9dcd-434c3db5651d.png)
.

Exactly. And those layer

[2020-06-06 02:43] tyler1218hatch commented on #50
@philipbaileynar @joewheaton One issue I can see here is that the project type in all old BRAT projects is just BRAT. If we have to change that project type to pyBRAT any time we want to look at an old project in RAVE, that removes some of RAVE's simplicity. Is there a way around this? Perhaps pyBRAT projects could be 'BRAT' and sqlBRAT projects could be sqlBRAT?

Let me know what you think we sho

[2020-06-06 03:02] philipbaileynar commented on #50
@tyler1218hatch my understanding is that pyBRAT project XML files are incomplete. They do not list all of the datasets that pyBRAT produces. Therefore I imagined that a script or humand was always going to have to modify these legacy project.rs.xml files and that the project type could be modified at the same time.

Am I right? Do legacy pyBRAT projects require some process to complete them before

[2020-06-06 03:04] tyler1218hatch commented on #50
@philipbaileynar I'm working at it now, so I'll let you know how the XMLs function soon. I agree with you on this. If this is going to take user intervention anyways, changing one name field is easy.

[2020-06-06 03:08] tyler1218hatch commented on #50
@philipbaileynar You're right, they are certainly incomplete.
Right now they only have paths to:
-  the buffers,
- BRAT table (which has lots of good data),
- capacity model,
- conservation and restoration model,
- and combined model.

So lots of the paths to inputs are missing, but the important stuff is there. I can work with this and get a convincing RAVE output working.

[2020-06-07 03:00] tyler1218hatch commented on #50
@philipbaileynar
I'm running into an issue, and I have a video describing it [here](https://youtu.be/8P5msrJezc8). I can't tell if there's an issue with the paths, or the original project XML, or something else.

Any help would be appreciated!

[2020-06-09 01:20] #62 closed

[2020-06-10 04:30] #66 closed

[2020-06-10 23:36] Cashe93 commented on #63
Hey @joewheaton, how do I request a review on changes I've made to a branch with an existing pull request?

[2020-06-16 05:15] joewheaton opened #73 "RAVE 1.1.2 & 1.1.3 Broke Topo Projects!"
## The Problem

CHaMP Topo projects were working great in 1.1.1 and are now broken in 1.1.2 and 1.1.3.  We reproduced this on three different machines.

I uninstalled RAVE and reinstalled 1.1.1 and it works. I haven't had time to dig into what changed. Teh only thing I noticed is that transparency tags were added and when I open it in VS code, it doesn't like the transparency, which seems weird? T

[2020-06-16 05:21] joewheaton commented on #73
@philipbaileynar we are in field tomorrow... so no rush on this... just queuing up.

[2020-06-20 15:33] joewheaton commented on #63
Exactly. You should have same fcode so should be able to just copy business logic over from RS Context and just point to correct node.

[2020-06-30 23:00] tyler1218hatch opened #74 "Historic Dam Capacity Symbology is Incorrect"
The historic dam capacity symbology for BRAT projects is currently symbolizing the oCC_EX field, when it should be symbolizing  oCC_HPE. This is a very quick fix.
![image](https://user-images.githubusercontent.com/27084463/86185314-aa017000-bafb-11ea-9069-2db6544c6967.png)

[2020-07-10 23:25] joewheaton opened #76 "User Experience - RAVE using Yampa - RS Context , BRAT, VBET"
Hey @philipbaileynar
As we discussed... here's a [video](https://youtu.be/hvh0yYJ_9SQ) for you (or will be in 33 minutes), which is me going through every output in Yampa RS Context, BRAT and VBET. This is an hour long thing and I didn't tally it, but its probably something on order of 20 issues, most of which are enhancements to bussiness logic symbology. There are some other bigger problems in V

[2020-07-13 17:49] philipbaileynar opened #77 "Pipes and ditches business logic node for Riverscapes Context"
Please add a new Riverscapes Context business logic node under Hydrography for "Pipes and Ditches". This layer should just display features with FCodes 42800 through 42816. Use the same "black and white" symbology that we currently use for the entire NHD network.

<img width="223" alt="Screen Shot 2020-07-13 at 10 48 31 AM" src="https://user-images.githubusercontent.com/8645379/87336258-66910380-c

[2020-07-13 17:49] philipbaileynar commented on #77
@joewheaton here is a full list of NHD FCodes. Can you confirm that you only want 42800 through 42816 in this new layer please?

[code]

[2020-07-13 19:02] joewheaton commented on #77
Thanks. Yes, another easy way to get this is to add the full NHD+ HR layer
file and just remove from the display the non pipe ones. I already lumped
them all together in there.
_____________________
Dr. Joseph M. Wheaton
435-554-1247 (direct) | http://www.joewheaton.org

On Mon, Jul 13, 2020 at 11:50 AM Philip Bailey <notifications@github.com>
wrote:

[2020-07-13 19:51] philipbaileynar opened #78 "DEM symbology"
Use the same DEM symbology for BRAT that is in use for Riverscapes Context.

Here's a video in which Joe discovers this issue and requests the change:

https://youtu.be/hvh0yYJ_9SQ?t=1845

[2020-07-13 19:52] philipbaileynar commented on #78
@joewheaton Have I captured this correctly? Is your comment about the symbology or the actual DEM data?

[2020-07-13 21:19] joewheaton commented on #78
Yes @philipbaileynar, I'm saying just use the DEM layer that we use in other riverscape projects. The confusion about actual DEM data is that the sybmology layer that I use readjusts the elevation range to that currently in the display (which I like), as opposed to the one in there that is spanned to the dataset itself.

[2020-07-13 21:28] philipbaileynar opened #100 "BRAT run versus display extent"
We run BRAT on a limited set of FCodes:

[code]

In other words, we get features in the BRAT output ShapeFiles for all these FCodes, but no others (e.g. coastline and pipelines are entirely absent from the output ShapFiles).

In this [video](https://youtu.be/hvh0yYJ_9SQ?t=2601), @joewheaton points out that the default views of BRAT results should be further constrained to just perennial and artifi

[2020-07-14 04:17] Cashe93 commented on #77
@philipbaileynar I've made changes for this task in the RS_Context_Pipes_and_Ditches branch. I added a new symbology layer which is in the 'Shared' folder within the same branch. Let me know if you have any trouble viewing it.

[2020-07-14 18:26] Cashe93 commented on #78
@philipbaileynar it looks like both BRAT and RS_Context business logic are already pulling the same dem.lyr file from the shared folder.

[2020-07-14 22:24] #74 closed

[2020-07-19 16:05] joewheaton commented on #78
@Cashe93 they should be, but they're not (see video). The one I want is the one from VBET and RS_Context. See if perhaps we're shipping a layer file of same name in BRAT or something that is overiding.

[2020-07-29 23:16] joewheaton opened #79 "Ecoregions"
We need *.lyr and Business Logic in RS_Context for ecoregions.
We should expose as
- Ecoregions
  - Level I
  - Level II
  - Level III
![image](https://user-images.githubusercontent.com/9723905/88862872-93177180-d1be-11ea-9d8b-0193e97ea10f.png)

We need to have Symbology for the [Ecoregions](https://www.epa.gov/eco-research/ecoregions-north-america). It should match what the colors the US EPA uses

[2020-07-30 01:18] tyler1218hatch commented on #79
Looks good, I'll probably start on this sometime this weekend.

[2020-07-30 01:19] wally-mac commented on #79
@joewheaton what project should this worked be billed to?  @Cashe93  is busy all week producing deliverables for Utah BLM.  @tyler1218hatch has assigned this task.

[2020-07-30 01:28] wally-mac commented on #79
Okay, keep track of these hours separately until I know what index to use.

On Wed, Jul 29, 2020 at 7:19 PM Tyler Hatch <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2020-07-30 18:13] joewheaton commented on #79
@wally-mac and @tyler1218hatch, put this on Task 1... as part of Kern. When I know what you've got there, I'll decide whether we split it to a new task order.

[2020-07-30 18:25] wally-mac commented on #79
Thanks @joewheaton, @tyler1218hatch please keep track of your hours under South Fork Kern.

[2020-08-01 23:31] tyler1218hatch commented on #79
@philipbaileynar There appears to be an issue when the L3_key field is created. The field should essentially be a combination of the code and the name (This is true with L1_Key and L2_Key). Yet the L3_key field only has when number, when is should have 3 (formatted as #.#.#).

I could make the symbology work with the broken field, or I could make the symbology now with the assumption that the fiel

[2020-08-25 18:05] philipbaileynar commented on #79
@tyler1218hatch the `L3_Key` field that I'm looking at has both the code and the name `25 High Plains`. This is a concatenation of the `US_L3CODE` and `US_L3NAME` fields. I don't know if this helps or clears anything up? Do we need a quick chat?

[2020-08-25 18:27] tyler1218hatch commented on #79
@philipbaileynar
I believe it should concatenate the `NA_L3CODE` and `NA_L3NAME` codes instead. This would make the symbology and naming consistent with level 2 and level 1.

[2020-09-18 03:21] philipbaileynar opened #82 "Symbology for PRISM rasters"
I just released RAVE version 1.1.6 that includes PRISM climatological rasters in the riverscapes context business logic.

**Note that the only project with these datasets so far is [17060304](https://prism.oregonstate.edu/normals/)**

Please add symbology layer files for these rasters (remembering to add the symbology keys to the business logic XML). I don't know what symbology to use, but perhaps

[2020-09-18 17:56] joewheaton commented on #82
@philipbaileynar this  is awesome data. Thanks for building this in. @Cashe93 please do as @philipbaileynar suggests and use the PRISM website as a go by for your symbology and legends (don't forget units too).

[2020-09-18 17:58] joewheaton commented on #79
What's the status of this @wally-mac  and @tyler1218hatch ? Eco regions still don't show up in RAVE (even thought they are in some projects now). Even if there is an issue with that L3-KEY, can we still make some progress to at least expose them and get a release of RAVE with some business logic for them if not some prelim symbology? Thanks!

[2020-09-18 17:58] joewheaton commented on #78
Just checking in on status of this @Cashe93 and @wally-mac

[2020-09-18 18:00] joewheaton commented on #73
@philipbaileynar is this sorted now? Can we close it?

[2020-09-18 18:01] tyler1218hatch commented on #79
@joewheaton I've just created a pull request for @philipbaileynar to integrate.

[2020-09-18 18:03] #77 closed

[2020-09-18 18:07] joewheaton commented on #63
I think (not sure) this is done? Please take a look @Cashe93

[2020-09-18 18:08] joewheaton commented on #50
@philipbaileynar and @tyler1218hatch this is _still_ a high priority. It looks like it stalled out? Can you give us a status update please?

[2020-09-18 18:09] joewheaton commented on #36
@philipbaileynar can you give me an update on this one? It would be really helpful for a bunch of our RS projects.

[2020-09-18 18:10] tyler1218hatch commented on #50
@joewheaton It did get stalled out. Phillip and I are meeting today, and we'll create a plan to move forward with this.

[2020-09-18 18:29] joewheaton opened #85 "Would be nice to add Stream Gages to RS Context"
- [ ] USGS Stream Ganges
![image](https://user-images.githubusercontent.com/9723905/93632164-17f65e80-f9aa-11ea-8e5b-e1f0f1261ffd.png)

[2020-09-18 19:51] tyler1218hatch commented on #79
@philipbaileynar The pull request is all ready to go. The new national ecoregions dataset is [here](https://drive.google.com/file/d/1iybOg3s2rygzGo_sP3d0qhSOO1VyRtlI/view?usp=sharing), and should replace what is currently on the national dataset in the warehouse.

[2020-09-18 19:58] tyler1218hatch commented on #50
@joewheaton Here's the plan going forward. I'll be working on this, with Phillip helping me out along the way.

1. Create a script that takes an old pyBRAT project and creates a new project XML for it, based on the various shapefiles and rasters within its folders. Although the newer projects already have a project XML, it is not consistent with other Riverscapes outputs, and is missing a lot of d

[2020-09-18 20:09] wally-mac commented on #78
@Cashe93 please look into this.

[2020-09-18 20:32] MattReimer commented on #79
@philipbaileynar the national project has been updated and the ZIP is rebuilding.

[2020-09-18 20:44] #79 closed

[2020-09-18 21:04] philipbaileynar commented on #85
The ultimate goal is to have stream gages show up in RAVE. We can do this 1 of 2 ways:

1. Add a new basemap that links to a web mapping service that displays gage locations. This is preferable because it doesn't need us to store and maintain another national dataset.
1. Call the USGS [Site Service](https://waterservices.usgs.gov/rest/Site-Service.html) and store the results in a feature class dur

[2020-09-19 00:49] philipbaileynar commented on #50
All good @tyler1218hatch . The one reminder is that the script will make a copy of the existing (incomplete) project file before proceeding. Maybe:

project_legacy.xml

Note I've removed the .rs.xml suffix because this might trigger certain events when uploaded to the warehouse.

[2020-09-19 03:01] philipbaileynar commented on #73
I pushed release 1.1.9 today after Steve Bennett encountered a problem with topo projects.

Please retest with 1.1.9 and close this issue if it works. Post a comment if it's still a problem.

[2020-09-19 03:24] Cashe93 commented on #63
Yes @joewheaton, it looks like this task was completed back in June.

[2020-09-19 03:57] Cashe93 commented on #78
@joewheaton  and @wally-mac it appears that this task is complete. I opened up the BRAT project from Joes video as well as an RS_Context project, and both are displaying correctly. Please let me know if this looks correct, or if something else needs to be done.
![image](https://user-images.githubusercontent.com/49880208/93658512-48b1b480-f9f9-11ea-9441-40d1753d35c8.png)
![image](https://user-image

[2020-09-19 05:03] #63 closed

[2020-09-20 00:56] Cashe93 commented on #82
@philipbaileynar, I downloaded the RS_context project for HUC 17060304, but the PRISM datasets appear to be missing.

![image](https://user-images.githubusercontent.com/49880208/93691850-7275e480-faa8-11ea-9eb5-0dc83ee22496.png)

[2020-09-21 12:40] #78 closed

[2020-09-21 16:20] philipbaileynar commented on #82
@Cashe93 try this link:

https://data.riverscapes.xyz/#/Anabranch/3a30cccb-ddda-47c4-8baf-413543c43a78

[2020-09-21 16:23] philipbaileynar commented on #73
@joewheaton can you please test this again with 1.1.9 and close the issue if it works. Add new comment if it is still broken.

[2020-09-21 16:25] philipbaileynar commented on #76
Pretty sure most of these are complete. Those that aren't are logged as separate issues.

[2020-09-21 16:25] #76 closed

[2020-09-21 16:28] philipbaileynar commented on #30
Closing this issue following Matt's detailed response. Re-open and assign to me if this still requires clarification.

[2020-09-21 16:28] #30 closed

[2020-09-21 17:36] joewheaton commented on #73
Will do.

[2020-09-21 18:37] joewheaton commented on #73
Looks to have worked. Thanks!

[![](http://img.youtube.com/vi/lZT7h3ozUSA/0.jpg)](http://www.youtube.com/watch?v=lZT7h3ozUSA "")

A few minor things needing tickets:
- Fix symbology for Topo Grain Size layer files to work over entire expected range of values
- Fix/check inconsisteint shapefiles.

[2020-09-21 18:37] #73 closed

[2020-09-21 18:41] joewheaton opened #86 "Fix Topo Grain Size layer symbology"
## The Problem
From end of #73 we need Fix symbology for Topo Grain Size layer files to work over entire expected range of values. I produced these initially off of an arbitrary topo survey that didn't span full range of values. As such, the symbology shows up empty in some surveys (more on low-end of grain sizes).

## Reproduction steps
See towards [end of video](https://youtu.be/lZT7h3ozUSA?t=42

[2020-09-21 18:42] joewheaton opened #87 "Fix why some Channel Units show up and some don't in Topo Surveys"
## The Problem
From end of #73 we need Fix or figure out why some channel unit shapefiles show up in some topos and not in others.
## Reproduction steps
See towards [end of video](https://youtu.be/lZT7h3ozUSA?t=415)
[![](http://img.youtube.com/vi/lZT7h3ozUSA/0.jpg)](http://www.youtube.com/watch?v=lZT7h3ozUSA?t=415 "")

[2020-09-21 18:45] philipbaileynar commented on #36
@joewheaton can you please test this feature using release 1.1.10

Probably easiest to test using a local layer file in your AppData symbology folder that has labels.

Please close this issue if it works. Post comment/error/behaviour if it does not.

[2020-09-21 18:48] joewheaton commented on #82
@philipbaileynar and @Cashe93 ... just an FYI. These did work for me:
[![](http://img.youtube.com/vi/63TuJJXI9G0/0.jpg)](http://www.youtube.com/watch?v=63TuJJXI9G0 "")

[2020-09-21 18:55] joewheaton commented on #36
Actually, I turned them on in published version for Topo. It works... but other minor bug.

https://youtu.be/S35uLRtWzoE

[![](http://img.youtube.com/vi/S35uLRtWzoE/0.jpg)](http://www.youtube.com/watch?v=S35uLRtWzoE "")

[2020-09-21 21:23] philipbaileynar commented on #36
Closing this issue because labels are working. The outstanding issues raised by @joewheaton relate to inconsistencies in topo project channel unit ShapeFiles; specifically whether they have grain size attributes. I will review the outstanding issues and ensure that those problems are captured in the appropriate places.

[2020-09-21 21:23] #36 closed

[2020-09-21 22:43] Cashe93 commented on #82
Thanks @philipbaileynar, that worked. I may have just had an older version of the project.

[2020-10-01 02:36] philipbaileynar commented on #82
@Cashe93 your changes are now included in the latest release 1.1.11. Please install and test. Close this issue if the raster layers work. Or comment here if they don't.

[2020-10-01 03:11] Cashe93 commented on #82
@philipbaileynar I installed the latest version and everything looks groovy. Closing this issue now.

[2020-10-01 03:11] #82 closed

[2020-10-07 21:03] philipbaileynar opened #89 "Add log files to business logic"
Add the log file for each model to the top of the business logic (similar to how we show the database and report for BRAT)

* [ ] RSC
* [ ] VBET
* [ ] BRAT

[2020-10-07 23:44] philipbaileynar commented on #89
@joewheaton I just took a look at this and it's cascading into a bigger task. The project files don't reference the log files so that change needs to happen first before the RAVE business logic can reference them.

I'll leave this issue open, but it's a bigger task than a quick 1 minute tweak to the business logic XML.

[2020-10-23 21:28] kbartelt opened #90 "Questions about business logic for inundation projects"
Hi @MattReimer @philipbaileynar @joewheaton

I have some questions/ issues about the inundation business logic that I typed below and also demonstrated in a video

1. Issues using repeater tag in business logic
2. Within the business logic can I point to a project metadata tag in the project xml for a node label?
3. Everything loads in the correct order in the RAVE Project Explorer, but then the o

[2020-10-24 20:52] joewheaton commented on #90
Thanks @kbartelt for posting this. @philipbaileynar Karen is about to submit her thesis. The timing of above is something she'll need to resolve in November in preparation for submitting her manuscript.

[2020-10-26 17:19] philipbaileynar commented on #90
1. I think repeaters are broken in RAVE. I tried using them a while back and couldn't get them to work as expected. We need an issue for that.
1. No. You cannot refer to metadata within a node label. Log that as an enhancement issue if that's required.
1. Adding layers to the map in incorrect order is a [know issue](https://github.com/Riverscapes/RaveAddIn/issues/35).
1. You will need to fix your

[2020-10-28 21:41] philipbaileynar opened #91 "Missing Confinement Values"
I think this is a problem with the confinement symbology, not the confinement model itself. I ran 17060304 and loaded the confinement margins in ArcMap. Noticed a reach that was absent from the map. This typically means that it was omitted from the layer symbology.

|Case|Confinement Ratio|Constriction Ratio|
|---|---|---|
|Absent Reach|1|10|
|Green Reaches|0|0|

<img width="1551" alt="Screen Shot

[2020-11-03 01:28] tyler1218hatch opened #95 "Symbology labels often get lost when applying symbology to a raster"
More info[here](https://3.basecamp.com/3997483/buckets/16910276/todos/3149619765#__recording_3172355941)
[Video](https://youtu.be/BwOvETjbwYs)

In summary, even if the symbology layer file has a symbology label attached to it, it doesn't consistently get applied to the raster like symbology does.

[2020-11-06 04:04] tyler1218hatch opened #97 "RCAT Vegetation Not Displaying (1.1.15)"
I was expecting something like this might happen. This was working fine on my end last night, but there's some issue here. Maybe it's having trouble pulling from the shared symbology? Note, it's not like the symbology is wrong, it's that there's some error before the raster is even displayed.
![image](https://user-images.githubusercontent.com/27084463/98324766-c8e4a700-1fb2-11eb-892b-42fe9d623e59.

[2020-11-06 04:34] philipbaileynar commented on #97
The red exclamation means it can't find the raster on disk. Either file isn't there, or the path that is built by concatenating folders from the business logic is wrong.

[2020-11-06 04:35] tyler1218hatch commented on #97
@philipbaileynar Nevermind, this is my mistake. It is an issue with the data on box. Thanks!

[2020-11-06 04:35] #97 closed

[2020-11-26 22:05] philipbaileynar commented on #45
This was implemented as part of release 1.2 1dddb1d9f76ca5692382d82629c613769b05433a

[2020-11-26 22:05] #45 closed

[2020-11-28 01:00] philipbaileynar commented on #46
Note that [project views](http://rave.riverscapes.xyz/business-logic.html#project-views) (#45) is now a feature in version 1.2 of RAVE.

[2020-11-28 03:32] joewheaton commented on #46
So we can close this now I think @philipbaileynar ?

[2020-11-28 03:32] #46 closed

[2020-12-02 22:29] joewheaton commented on #45
@wally-mac can we task ETAL folks with creating these project views for:
- RCAT - you decide
- BRAT - you decide
- VBET (@shelbysawyer)
- GNAT (@lauren-herbine)
- RIM (@kbartelt)
... We can play with others later.

[2020-12-02 22:46] wally-mac commented on #45
@joewheaton that sounds really useful.  However, after looking back at this post I'm not super clear on what the task is exactly.  Could you perhaps make a short video describing what you are wanting and then I could share this with the techs?  Thanks for considering this request.

[2020-12-03 02:25] joewheaton commented on #45
Watch @philipbaileynar video @wally-mac. He explains what project views are:

The tasks are deciding what layers you want to add to map when you open the project and/or load another project view (e.g. you might have one for Conservation Outputs of BRAT, vs. Capacity Outputs.

[2020-12-03 03:12] philipbaileynar commented on #45
Here's the correct video on project views:

https://youtu.be/mYm6a0ccjoQ

[2020-12-03 14:15] wally-mac commented on #45
The next time you are looking for something to do while waiting for LiDaR data to upload or for a tool to run I'd like you to create [project views ](https://youtu.be/mYm6a0ccjoQ)for:

RCAT - (@Cashe93)
BRAT - (@Cashe93)
VBET  (@shelbysawyer)
GNAT (@lauren-herbine)
RIM (@kbartelt)

This task is a great opportunity to work together as a team by asking questions and sharing ideas and outputs with ot

[2020-12-03 14:19] kbartelt commented on #90
@philipbaileynar @MattReimer @joewheaton FYI the repeaters appear to be working fine with RAVE for how I was using them, the issue I was having was within the project XML

[2020-12-03 14:19] #90 closed

[2020-12-03 18:24] joewheaton commented on #90
Great news Karen!
_____________________
Dr. Joseph M. Wheaton
435-554-1247 (direct) | http://www.joewheaton.org

On Thu, Dec 3, 2020 at 7:19 AM kbartelt <notifications@github.com> wrote:

[2020-12-06 20:09] Cashe93 commented on #45
@wally-mac, do you know where I can find an updated RCAT project file to work with?

[2020-12-06 20:26] Cashe93 commented on #45
@philipbaileynar where would I find an updated RCAT project that I could work with?

[2020-12-07 00:13] wally-mac commented on #45
@Cashe Rasmussen <cashecras@hotmail.com> Here
<https://usu.box.com/s/h9knfw8qvithii77i5l83nv8dgzctrdt> is a link to a
recent pyRCAT project.

On Sun, Dec 6, 2020 at 1:26 PM Cashe93 <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2020-12-07 00:16] Cashe93 commented on #45
Thanks @wally-mac!

[2021-01-12 18:03] MattReimer opened #101 "RVD Business Logic"
Looks like we already have business logic for RVD

https://github.com/Riverscapes/RaveAddIn/blob/master/RaveAddIn/XML/rvd.xml

We should just do a quick test to make sure it's up to date with what's coming out of cybercastor.

[2021-01-12 18:04] MattReimer opened #102 "Confinement business logic"
Confinement needs business logic

Here's a project with the current XML that kelly uploaded yesterday

https://data.riverscapes.xyz/#/PUBLIC_DATA/5689d1f4-f715-46ee-aee2-b1cdd802848c

**EDIT** Just noticed we already have a file for that

https://github.com/Riverscapes/RaveAddIn/blob/master/RaveAddIn/XML/confinement.xml

[2021-01-12 18:06] MattReimer commented on #102
Already have a file for this. I think we're good.

[2021-01-12 18:06] #102 closed

[2021-01-13 18:52] joewheaton opened #103 "Project Metadata Not Loading on Topo Projects"
## The Problem
![image](https://user-images.githubusercontent.com/9723905/104495813-71a41980-5595-11eb-8268-214500898a97.png)

What went wrong?
Exception thrown when you view Project MetaData

## Reproduction steps

1 Loaded [Asotin Topo Project](https://data.riverscapes.xyz/#/AsotinIMW/9caeb350-596b-445e-b3a9-8b4f813598d6)
2. Then attempted to get project metadata

Exception message

[code]

[2021-01-13 22:41] MattReimer opened #104 "Support FairMarketValue raster in NationalDatasets"
Related to this issue:

https://github.com/Riverscapes/riverscapes-tools/issues/113

HEre's the XML

https://github.com/Riverscapes/RiverscapesXML/blob/master/Projects/examples/NationalDatasets.xml#L65-L68

[2021-01-14 01:07] philipbaileynar commented on #103
@joewheaton I can't reproduce this.

I even tried making sure that the topo project was the second project in the list because it looks like you have a hydraulic modelling project in there too.

I got the exact same projects too.

Perhaps a quick video please? Or wait and try again on the next release that is iminent.

[2021-01-14 01:30] philipbaileynar commented on #103
How recently did you download this project?

Have you made any edits to the project XML?

Any custom business logic at play?

If in doubt please download fresh copy.

[2021-01-14 04:11] joewheaton commented on #103
Yep... corrupted local project. Would be interesting to know why someday. But I got it to work on other Topo projects.  Thanks @philipbaileynar

[2021-01-14 04:11] #103 closed

[2021-01-20 22:49] joewheaton opened #105 "GUT Business Logic - plumb layer files"
@philipbaileynar wrote us nice Riverscape Projects for GUT and a version of GUT that exposes what is in those files.  @wally-mac please have @Cashe93 or whomever use this ticket to tie the pull request to (re-assign from yourself to them). This is tied the [Basecamp ToDo](https://public.3.basecamp.com/p/N1WAPyjLD4v4ZL6JDB5sYH7f)

[2021-01-20 22:57] joewheaton commented on #95
@philipbaileynar did you ever watch @tyler1218hatch video on this? Interesting...  curious if it s a 10.4 10.6 layer thing?

[2021-01-20 23:22] wally-mac commented on #105
@Cashe93  I've assigning this task to you. @tyler1218hatch please help Cashe on this as needed.  Thanks!

[2021-01-23 16:44] joewheaton opened #107 "ArcGIS Pro Version of RAVE Add-In"
With [ESRI's rapidly approaching retirement of ArcGIS 10.X](https://support.esri.com/en/technical-article/000017062) within the next year or two, we really need to look at providing an ArcPro release of RAVE. Unlike [GCD](https://github.com/Riverscapes/gcd/issues/391), which has 40 some odd forms, RAVE one presumes is much simpler.

In the same way you did for QGIS, @philipbaileynar can you please

[2021-01-23 16:51] joewheaton commented on #107
Nothing a Goolge search doesn't address but a few resources useful for scoping:
- [ArcGIS Pro Extensibility wiht Add-Ins](https://www.esri.com/arcgis-blog/products/arcgis-pro/3d-gis/arcgis-pro-extensibility-with-add-ins/?rmedium=redirect&rsource=blogs.esri.com/esri/arcgis/2017/02/13/arcgis-pro-extensibility-with-add-ins) - We need to get the [ArcGIS Pro SDK for Microsoft.net](https://pro.arcgis.co

[2021-01-23 17:00] joewheaton opened #108 "QGIS Version of RAVE"
As with #107 we need a QGIS Version of RAVE. @philipbaileynar has already scoped this and we simply need to raise the funds to do it.

I am posting this here @philipbaileynar so we can start cataloging our wish list items more consistently. These are excerpts from @philipbaileynar Scope (minus price tag):

## Background
We stopped maintaining a prior version ([website](https://riverscapes.github.i

[2021-01-23 17:02] joewheaton commented on #50
@tyler1218hatch and @philipbaileynar did this stall out again, or was it completed? If it stalled out, do you need me to find something to bill it to?

[2021-01-23 17:07] tyler1218hatch commented on #50
@joewheaton This is functional on a case by case basis. Since old BRAT projects have an inconsistent folder structure, and user named files, there's no easy way to convert all of those projects to be RAVE compatible.

RAVE itself is compatible with pyBRAT (Or one of the dev branches is, I can't remember). So it's just a question of how much time we want to commit to manually converting old project

[2021-01-23 17:23] philipbaileynar commented on #107
The "sharing" link above didn't work for me. Here's another one:

https://community.esri.com/t5/arcgis-pro-sdk-blog/sharing-your-arcgis-pro-add-ins-online/ba-p/883567

[2021-01-23 21:35] joewheaton commented on #104
We do need the symbology. I have created the layer file I want here: [`FairMarketValue.lyr`](https://usu.box.com/s/zxpm5ial4ce6zom5syedv8ojng7j5cbj).

However, the symbology I want is for an updated version of this where the Units are *$ per hectare* instead of *log $ per hectare*.  It looks nice:

![image](https://user-images.githubusercontent.com/9723905/105614692-1ee21300-5d88-11eb-861a-45a0dc8

[2021-01-26 04:18] #104 closed

[2021-01-26 20:42] philipbaileynar commented on #101
I can confirm that the initial version of RVD business logic is working in RAVE 2.0.2. Symbology still needed.

<img width="1000" alt="Screen Shot 2021-01-26 at 12 41 49 PM" src="https://user-images.githubusercontent.com/8645379/105902769-f3536880-5fd3-11eb-8455-14607eecafd9.png">

[2021-01-26 20:42] #101 closed

[2021-01-27 00:09] philipbaileynar opened #111 "Fix Symbology for BRAT Management Layers"
We recently enhanced BRAT so that it only produces a GeoPackage as the output. No ShapeFiles.

Unfortunately this has broken the symbology for the three management layer outputs. That was originally working. Can you please fix the three management layer files with the correct symbology. It's all pinks and pastels right now until this gets fixed.

The three files that need fixing are:

- oPBRC_CR.l

[2021-01-27 19:37] philipbaileynar commented on #3
@joewheaton nudge that this is still outstanding. Low priority obviously, but less so as our user base is growing.

[2021-01-28 02:59] Cashe93 commented on #111
@philipbaileynar, just to clarify, for this task are you just asking that I update the symbology to something similar to the attached image?
![image](https://user-images.githubusercontent.com/49880208/106083536-e28d1a80-60d9-11eb-8c68-8818d2131450.png)

[2021-01-28 03:09] philipbaileynar commented on #111
Yes that's correct. Same colours and labels.

After we moved to geopackages all the colours broke.

[2021-01-28 22:36] philipbaileynar commented on #105
I just release version 2.0.3 of RAVE that includes Cashe's pull request containing business logic and lots of layer files. @joewheaton described this as 95% of what's needed. Here's his video describing the outstanding items

https://youtu.be/-SU3FLcbzCk

[2021-01-28 22:44] wally-mac commented on #105
@Cashe93 can you please address the outstanding items Philip points out in his video?  Thanks for providing this Philip

[2021-01-28 22:54] philipbaileynar opened #113 "Automated version checking"
How do we inform users when there's a new version of RAVE?

1. Users sign in to GitHub and click "watch" on the repo to receive notifications. Most users aren't that technical. I also believe that this means they will get issue notifications as well as releases. Too noisy!
2.  We use MailChimp or similar to announce releases. I don't have time to craft these messages! Too noisy.
3. Automated softw

[2021-01-28 23:02] MattReimer commented on #113
I like the menu item. We definitely want our code to avoid phoning home without asking.

My suggestion would be a quick call to the github api:

### Docs and code samples:

https://docs.github.com/en/rest/reference/repos#get-the-latest-release

### Example

paste this into your browser:
[code]

Something like this:

[code]

### Resources

* https://docs.microsoft.com/en-us/aspnet/web-api/overview/

[2021-01-28 23:08] philipbaileynar opened #114 "RVD Symbology"
RVD business logic is now implemented. We also have lots of [RVD symbology layer files](https://github.com/Riverscapes/RaveAddIn/tree/master/RaveAddIn/Symbology/RVD) that are already included with RAVE. However, the layer files refer to the old attribute fields from pyRCAT. Most of the fields names have changed now that RVD is using a GeoPackage.

Tasks Required:

1. Walk through each of the layer

[2021-01-29 19:21] Cashe93 commented on #105
@philipbaileynar, do we still need to save layer files as version 10.4?

[2021-01-29 19:23] philipbaileynar commented on #105
Good question... I am on 10.6.1 now. So technically you should choose nothing newer than 10.6.1 as the version. I think 10.4 will still work because all our existing symbology works for me.

What are the options newer than 10.4?

[2021-01-29 19:25] Cashe93 commented on #105
Sounds good. The options newer than 10.4 are 10.5 and 10.6.

[2021-01-29 19:41] philipbaileynar commented on #105
OK, go with 10.6 from now on then.

No reason to redo any of the existing layer files.

[2021-02-01 18:32] joewheaton opened #117 "Riverscape Project Collections"
## The Problem
This problem has been discussed in the context of "project references" but is best summed up nicely in this logical question from Steve Bennett:

We have kept riverscape projects at "manageable" sizes (and I think are leaning towards doing more of this) mainly governed by download size (i.e. < 1.5 GB).  I like the idea of projects being smaller unit chunks and they themselves repeat

[2021-02-01 18:40] joewheaton opened #118 "Project References"
## The Problem
There are many examples of projects that use inputs that derive from other outputs or intermediates of other projects. For example, a `GUT` project and `GCD` project both rely on DEMs as their inputs, but many times those DEMs come from a `Champ Topo Survey` project. Or, we drive `Confinement`, `River Styles` , `RCAT`, and `BRAT` projects all off a valley bottom polygon that *can* (

[2021-02-03 19:04] joewheaton commented on #118
@philipbaileynar and I discussed this at length.  @philipbaileynar is worried this is a much bigger request with fragility and tech debt. I think it is much simpler. The truth is somewhere in between.  @philipbaileynar suggested I show what I mean by the XML project file.

## Example - What we do Now:
I opened up a [BRAT project (101900002)](https://data.riverscapes.xyz/#/Anabranch/fb02c25c-4bf8-4

[2021-02-03 19:46] joewheaton commented on #27
Hey @MattReimer this is the ticket on Metadata. I think it is already there. The Metadata I want I will expose in different tickets (e.g. in #118).

[2021-02-04 00:48] MattReimer commented on #27
Sure. This ticket is a feature request for having some kind of popup to see metadata on layer nodes.

[2021-02-04 01:18] MattReimer commented on #118
Ok, here's an idea we can build on. Even as I type this I'm not sure how I feel about it but it's a start.

Let's take a real example: a typical VBET project with a slope raster that needs referencing

[code]

You can see we're introducing some `<Meta>` keys like `srcType` that have specific meanings. If Rave finds these it will know what to do with them. If they aren't there then nothing happens.

[2021-02-04 02:59] joewheaton commented on #118
I really like this @MattReimer. The example makes enough sense that even I could do it. All the implementation stuff makes sense to me too.

Re the caveats. In the short and long  term I don't care if we reference some broken links here and there. Especially if they are from user contributed projects. In long term our cyber castor derivatives we sell should reference stable projects. In long-term,

[2021-02-04 04:34] philipbaileynar commented on #118
I really like @MattReimer metadata tags, their names and how they are used. The challenge will be how on earth we get hold of the GUIDs in question. The VBET tool knows nothing about riverscapes context. It doesn't know the DEM it was passed as an argument is part of a riverscapes project. It doesn't know the XML node or GUID or anything. We have decoupled all our tools from upstream project XML.

[2021-02-04 04:39] philipbaileynar commented on #27
1. Reusing the project metadata form for dataset metadata is easy.
2. In theory the column on the right is a dumb text column, but we can fake hyperlinks by colouring the text blue and (probably) underline the text.
3. We can capture clicking on any cell... if the cell contents start with `http://` or `https://` we can launch the user's default browser at that address.

[2021-02-04 04:45] philipbaileynar commented on #27
I will also say that these Microsoft .net grids are annoying to work with and quite inflexible (see my URL hack above).

Another option would be to replace the grid with a temporary HTML page that only gets generated when the user asks to look at the metadata. This HTML page could be prettier and handle URLs more elegantly. Two ideas for generating the HTML page:

1. Straight DOM writing in code.

[2021-02-04 05:06] MattReimer commented on #118
I think the Cybercastor Runner Script (in riverscapes-tools) ticket actually handles all of this well.

The goal of that tool is to handle all the external context and we leave the tools alone to just do what they do.

[2021-02-04 05:55] philipbaileynar commented on #118
The cybercastor runner can inject sub tags **inside** individual layers within a project?

I get that it can take some command line meta and stuff it into the project node of the output project file.

I just need to be educated how this runner script is going to get the guids of the vbet50 layer from a vbet project and inject them into an output brat project.

[2021-02-04 18:48] philipbaileynar commented on #27
A better idea than the temporary HTML forms...

Do away with the metadata user interface form altogether. When the user right clicks on either the project node, or the node for any data layer, RAVE launches the HTML report for the project at the appropriate section.

This idea requires improving the way HTML anchors are written to the HTML file so that they have known `name` attributes (and not th

[2021-02-04 19:42] joewheaton commented on #27
Agreed. This is a great idea. It will encourage us curating those HTML views in the report a little more (both the CSS) and the content.

Dumb question... are those HTML reports pure HTML or can they contain MarkDown? I would like to get our folks authoring some content very soon on that front. It is also where I would like the QA/QC report to get consumed. I'm guessing it has to be just pure html

[2021-02-04 20:19] philipbaileynar commented on #27
The reports are all HTML generated via Python during the tool run. @MattReimer abstracted the report generation code into a tidy, easy to use [library](https://github.com/Riverscapes/riverscapes-tools/tree/master/lib/commons/rscommons/report), so anyone with a modicum of Python skill should be able to extend the reports.

Here's the [Python that generates the BRAT report](https://github.com/Rivers

[2021-02-04 20:23] MattReimer commented on #27
Order of operations is always tricky. Maybe the decorator could rerun the report generator? In most cases it's just a single function call that takes like 2 seconds...

[2021-02-05 18:08] joewheaton opened #119 "RIM business logic not working"
## The Problem

New RIM business logic not working.

![image](https://user-images.githubusercontent.com/9723905/107071690-57c7b200-67a2-11eb-9094-a35d30ce079b.png)

I downloaded Beaver Creek, Utah (B) and Spawn Creek, Utah and both only show the Inputs tab.

[2021-02-05 18:16] joewheaton commented on #119
Actually... @joewheaton had a residual `innundation.xml` file in his `%APPDATA%/RAVE/xml/` folder that was causing the problem. My bad.

[2021-02-05 18:16] #119 closed

[2021-02-10 23:17] joewheaton opened #121 "Improve VBET Symbology & Business Logic"
Please use the latest experimental runs of VBET in Klamath from VBET 0.3.2 to customize the symbology and business logic for VBET.

[2021-02-10 23:19] joewheaton opened #122 "Improve Confinement Symbology"
Please use the latest experimental runs of Confinement in Klamath from Confinement 0.1.1 to customize the symbology and business logic for Confinement.

[2021-02-11 00:56] philipbaileynar commented on #118
@joewheaton has approved this work for the Feb release.

[2021-02-11 05:06] lauren-herbine commented on #122
@joewheaton Not sure what I'm doing wrong here:
![image](https://user-images.githubusercontent.com/73319684/107603976-cf0aa500-6beb-11eb-96c5-f27860dde495.png)
The symbology for the confining ratios is working, but for some reason the symbology for the confining polygon won't take. This is what I named the layers:
![image](https://user-images.githubusercontent.com/73319684/107604055-02e5ca80-6bec-

[2021-02-11 06:02] philipbaileynar commented on #122
@lauren-herbine the XML looks good. Are you sure the layer file refers to an attribute that exists in the confining polygon feature class?

Try the following:

1. Add the confining polygon feature class to the map, just loading it from ArcCatalog or the Add Data button. don't use RAVE.
2. Adjust the symbology manually using ArcMap. Set it up with something temporary... nonsense... something notice

[2021-02-16 18:38] philipbaileynar commented on #118
Here are the RAVE features that are funded:
1. RAVE will be enhanced to show these metadata “as is” by repurposing the project metadata form. The metadata will be shown raw, with no formatting whatsoever.
2. RAVE will be enhanced with a new right click menu option for datasets that have an upstream project that opens a web browser at the URL for the relevant project.
    a. Note users might not ha

[2021-02-16 18:47] philipbaileynar commented on #111
This is now working!

[2021-02-16 18:47] #111 closed

[2021-02-16 18:48] philipbaileynar commented on #105
@Cashe93 please close this issue if the work is complete. I know 90% of the layers are how @joewheaton wants them, I'm just uncertain if we are all the way there?

[2021-02-16 18:49] philipbaileynar commented on #91
@KellyMWhitehead did we ever figure this out?

[2021-02-16 18:55] philipbaileynar commented on #87
This is a problem with the data, not RAVE.

The RAVE channel unit symbology is expecting certain fields to be present in the channel unit ShapeFiles but these fields are not always present.

CHaMP grain size fields (e.g. D50) were collected as Aux measurements (on Allegro and then iPad) and are not part of the topo data collection. These fields got transferred to the ShapeFiles for some but not al

[2021-02-16 18:55] #87 closed

[2021-02-16 18:56] philipbaileynar commented on #86
This is a duplicate of #87

[2021-02-16 18:56] #86 closed

[2021-02-16 19:44] philipbaileynar commented on #100
I have implemented the query string approach on a local branch. It works. Want to discuss with @MattReimer before I incorporate it into public release.

[2021-02-16 19:46] philipbaileynar commented on #60
Duplicate of #87 and #86

[2021-02-16 19:46] #60 closed

[2021-02-16 19:48] philipbaileynar commented on #50
@tyler1218hatch can you close this issue if the latest release of RAVE includes a business logic file that displays pyBRAT projects?

I understand there are lots of versions of pyBRAT out there. So I guess, I just mean the most ubiquitous version of pyBRAT, which I'm thinking would be the Idaho/TNC/Montana version?

Happy to meet to discuss this if needed.

[2021-02-16 19:51] philipbaileynar commented on #33
Closing this issue because it is old. Version 2.0.6 has much improved business logic working for topo projects. If there are outstanding problems displaying topo projects then please create new issues for each individual problem.

[2021-02-16 19:51] #33 closed

[2021-02-16 19:53] philipbaileynar commented on #61
Duplicate in #87 #86 and #60

[2021-02-16 19:53] #61 closed

[2021-02-16 19:54] philipbaileynar commented on #118
Note this is related to #27

[2021-02-16 19:58] philipbaileynar commented on #28
After using RAVE for over a year this has dropped off the radar. We have improved business logic across all project types and people are not mentioning this problem. I'm also not seeing people mention it as a problem during live demos and meetings etc.

At a fundamental level we do have the problem that vector layers lower down in the business logic get added to the map below rasters that are high

[2021-02-16 19:58] #28 closed

[2021-02-16 19:59] philipbaileynar commented on #34
@kbartelt can you report if this is still an issue? A lot has changed in RAVE since May 2020.

If the problem has not reoccurred recently please close this issue.

[2021-02-16 20:01] philipbaileynar commented on #2
Closing this issue. We have moved to GeoPackages!

[2021-02-16 20:01] #2 closed

[2021-02-16 20:05] philipbaileynar commented on #18
No. The only events that RAVE can tap into a "ArcMap document events":

* New ArcMap document
* Close ArcMap document

[2021-02-16 20:05] #18 closed

[2021-02-16 20:20] Cashe93 commented on #105
@philipbaileynar, I have a short list of changes that @joewheaton  would like to be made. I don't think these will get it to 100% satisfaction but I'll close this after I make the changes and the pull request is reviewed.

[2021-02-16 21:22] tyler1218hatch commented on #114
@philipbaileynar I think Wally and I are going to discuss plans for this soon. I think he wanted to change some of the symbology in both versions anyways.

[2021-02-16 21:24] tyler1218hatch commented on #50
@philipbaileynar Can we meet, possibly with Wally and Matt to talk about this? This is a pretty big undertaking and I'm not sure if I know the best way to go about this. I'm free whenever.

[2021-02-17 04:30] philipbaileynar opened #124 "Add Bankfull Width Buffer Feature Class to RS Context Business Logic"
Don't forget to add bankfull width buffer polygons to RS Context project business logic.

[2021-02-17 04:32] philipbaileynar commented on #124
You are way too efficient!

[2021-02-17 04:32] #124 closed

[2021-02-17 21:18] KellyMWhitehead commented on #91
Issue was related to geometry tolerance when splitting the confinement buffer by the centerline. Was able to extend the splitting lines by using "scale" and seems to work for all polygons so far.

Fixed: 18a0ba0a2cdb15a98dde60aa3c3bb2f9a312ca1d

[2021-02-17 21:18] #91 closed

[2021-02-17 22:00] kbartelt commented on #34
this is no longer an issue

[2021-02-17 22:00] #34 closed

[2021-02-18 18:32] joewheaton commented on #50
Thanks @tyler1218hatch, @wally-mac and @philipbaileynar. From my perspective, we're not talking about **all** old pyBRAT runs. We're talking about doing this for is NOT everything we've done, but everything we did since the BRAT refactor:
- [ ] Montana BRAT (top priority) - in Alden's Program
- [ ] Idaho BRAT - in USU ETAL Program
- [ ] California TNC BRAT - in USU ETAL Program
- [ ] John Day BRAT

[2021-02-19 01:26] wally-mac commented on #50
@joewheaton @philipbaileynar and @tyler1218hatch as Joe suggest I think we should have Tyler start with the Montana BRAT and get an idea of how much time it takes and then we can determine weather or nor we can justify doing it for the other projects.

[2021-02-19 02:04] tyler1218hatch commented on #50
@wally-mac I definitely agree. Phillip and I are meeting tomorrow to scope this out. Where can I find full BRAT runs for Montana? I know they weren't actually run by us, so maybe that's why I'm having trouble. The best I could find is:

[The ArcGIS Online site they were uploaded to. ](https://www.arcgis.com/home/search.html?q=owner%3A%22MTNHP_AGOL%22&t=content&restrict=false&start=21&num=20) This

[2021-02-19 02:46] wally-mac commented on #50
We will track it down together during our call tomorrow.

On Thu, Feb 18, 2021 at 7:04 PM Tyler Hatch <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2021-02-19 20:21] MattReimer commented on #27
@philipbaileynar we have a version of VBET now that has metadata. BRAT, RVD and confinement are on the way but I'm posting this here now in case you want a head start. I'll post the other links as they become availabel

https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/869d493f-582c-44a2-b701-3936722e6e22

[2021-02-19 23:47] MattReimer commented on #27
http://northarrowresearchlabs.github.io/riverscapes-staging
On the staging server search for the tag: "NEW_META'

Confinement didn't finish for some reason but the rest are there

[2021-02-20 20:11] philipbaileynar commented on #113
With @MattReimer help we got the HTTP call with SSL working to check the latest version via GitHub:

https://gist.github.com/philipbaileynar/36b385e75400e6ba788b2ca2f70ce5c4

The code above works perfectly in this standalone, console application. But when I implemented this code in RAVE it hangs during the asynchronous call. I suspect (and vaguely recall) something about ArcMap being a single thre

[2021-02-20 21:47] philipbaileynar commented on #27
@joewheaton and @MattReimer here is RAVE with the layer metadata and project reference capabilities. Please provide feedback before I release on Monday:

https://youtu.be/L6taQ-3osTU

[2021-02-20 21:51] MattReimer commented on #27
Looks good to me. This is exactly what I envisioned for the first pass at this stuff

[2021-02-20 21:52] MattReimer commented on #113
We could just make it a synchronous call. The only reason I keep it async is because I don't like to lock up the ui.

[2021-02-21 04:22] joewheaton commented on #27
Fancy @philipbaileynar! Looks great.

[2021-02-21 04:25] joewheaton commented on #27
BTW... "View Layer Source Project" is fine. I guess it could be "View Layer's Source Riverscapes Project" so that it is possessive and emphasizing that? BTW, this
![image](https://user-images.githubusercontent.com/9723905/108615496-16e6b480-73c2-11eb-87d9-057e38b041a5.png) is what we were using on [RS Site](https://riverscapes.xyz/Tools/Technical_Reference/Documentation_Standards/Riverscapes_Proje

[2021-02-21 19:35] philipbaileynar opened #125 "Browse Folder for Geopackages"
Right clicking on a Geopackage layer in RAVE project tree has a "Browse Folder" option. This needs to be fixed to work for geopackages:

<img width="478" alt="Screen Shot 2021-02-21 at 11 33 07 AM" src="https://user-images.githubusercontent.com/8645379/108636218-bd6d9c80-7438-11eb-9d62-ffc70515ca60.png">

<img width="478" alt="Screen Shot 2021-02-21 at 11 34 47 AM" src="https://user-images.githubu

[2021-02-22 04:00] philipbaileynar commented on #118
Version 2.1.0 now allows:

1. the viewing of all metadata stored inside any layer in a project.rs.xml by reusing the project metadata form.
2. If the layer metadata possess the special tags to refer to a riverscapes project in a riverscapes data warehouse then user can right click on the layer and launch a web browser at the project details for the source project.

[2021-02-22 04:00] #118 closed

[2021-02-22 04:06] philipbaileynar commented on #27
This is implemented in RAVE 2.1.0.

Nice logo suggested but too much detail at 16x16.

[2021-02-22 04:06] #27 closed

[2021-02-23 15:44] joewheaton commented on #28
I am fine with this being closed @philipbaileynar. I really liked the idea you raised in our call last week for webRAVE about 5ish stashes...  from top of TOC to Bottom (e.g. Vector Points, Vector Polylines, Basemap Vector, Transparent Raster, Hillshade, Basemap vector).

I don't think this entirely applies to RAVE as ArcGIS users know how to move around the layers and layer groups and can push pa

[2021-02-23 15:46] joewheaton commented on #87
@philipbaileynar, instead of closing issues like this that are rightly somewhere else, can we leave them open and move them to something else (e.g. a warehouse repo)?

Message received on the solution. Lets queue it up as unfunded.

[2021-02-23 15:47] philipbaileynar commented on #28
Both your bullets refer to "visibility", something we don't (but could) control in business logic. Interesting idea that warrants more thought. Project views in particular would benefit from controlling visibility.

[2021-02-23 15:49] joewheaton commented on #28
Yes... I guess there is a lot of value in having things in the TOC sometimes, but not necessarily all turned on with visibility. Good point @philipbaileynar.

[2021-02-23 15:49] philipbaileynar commented on #87
Agreed.

This one is a special case and doesn't really have a home.

What's really needed is a new tool that talks to the champ workbench and enriches the topo data with both measurements and metrics.

This tool doesn't exist right now and so I don't know where to put the issue.

[2021-02-23 19:35] lauren-herbine commented on #122
@philipbaileynar Thanks for the help!

Hmmm... ok, I tried that and still have a confining polygon with default symbology. Again the confinement ratios still worked... Not really sure what my next trouble shoot should be. Perhaps I can do a quick screen share on our next call?

[2021-02-24 03:51] shelbysawyer commented on #121
Joe,

Let me know what you think of this color scheme:

![VBET_BusinessLogic](https://user-images.githubusercontent.com/73311751/108944826-c7e68c80-7618-11eb-8c3f-e332878fe7b1.png)

[2021-02-24 18:38] philipbaileynar commented on #121
Lets drop the % from the legend and proceed with "Valley Bottom Likelihood":

* Low
* Medium
* High
* Very High

Or some other contextual labels. The % are going to get us killed... or kill us trying to explain them for every new audience!

[2021-02-24 19:05] shelbysawyer commented on #121
That's a really good point, Philip. I agree. Would breaking it down along these lines be logical? How important is it to have the 5 original bin breaklines-- could/should we simplify?

Current '50% % 60%' = Low
Current '70%' = Medium
Current '80%' = High
Current '90 %' = Very high
Current '100%' = ...Approximate Bankfull Channel?

[2021-02-25 16:25] shelbysawyer commented on #121
Still need to figure out how to segment the likelihood bins, but this is maybe a closer fit to what we are looking for:

![VBET_BusinessLogic_v2](https://user-images.githubusercontent.com/73311751/109183541-47747880-774b-11eb-9bd3-53fe0748181a.png)

[2021-02-26 20:14] joewheaton commented on #121
Thanks @shelbysawyer for this. A few things, please ask @Cashe93 or Chad to help you with making your maps to the cartographic style and standards of the lab. It is pretty easy, well documented and you're not far off.

Next, with regards to Output symbology, we should repeat the same layer stack (of thresholds) but show them as "Areas" with transparent filled polygons, and "Outlines" I tweaked you

[2021-02-28 04:18] Cashe93 commented on #105
@philipbaileynar, I'm sorry this took so long for me to get to. I've just submitted a pull request/review on the changes.

[2021-02-28 16:59] philipbaileynar commented on #105
Fixed as part of release 2.1.1

[2021-02-28 16:59] #105 closed

[2021-02-28 21:20] joewheaton commented on #113
Thanks @MattReimer and @philipbaileynar for investigating this. As I see this was assigned for input from me....  I'm of a little use on the technical issue @MattReimer found but...

I love it. Nice compromise.

[2021-03-09 17:09] MattReimer opened #127 "BusinessLogic XMLs moved to RiverscapesXML"
This is a placeholder issue. Just ignore it for now.

The businesslogic XML files have been moved over to a different repo and have also been changed in a couple of ways. We need to

A. [ ] teach RaveAddin to consume these new XMLs
B. [ ] come up with a workflow for how to change/edit/create them
C. [ ] Review some changes to the XSD and structure I had to make.

[2021-03-19 16:35] joewheaton opened #128 "Broke Old Version of VBET with RAVE..."
@MattReimer and @philipbaileynar, this is a problem for which I have a specific work around, but we should be aware that this happening and figure out a strategy to avoid it going forward.

If one follows [these instructions](https://youtu.be/getTYkolo1U) I made last Spring with RAVE 2.1 and downloads this [old VBET 1.0 project for Middle Bear](https://s3-us-west-2.amazonaws.com/etalweb.joewheaton

[2021-03-19 16:57] MattReimer commented on #128
@joewheaton we do technically have the ability to have different versions of the business logic that trace legacy projects.

Eventually (and probably soon-ish) that may be a consideration. For now though it balloons the amount of XML we're responsible for.

For instance we'd need to think like this:

Now multiply that complexity across all our projects. We get around this in brat by having pyBRAT

[2021-03-19 17:35] joewheaton commented on #128
Understood... For now, this is an easy fix I suspect. Just do pyVBET and VBET. I don't think we want to have version-by-version differences we're responsible for. I do think though we can maintain different ones for totally different grades (e.g. research grade vs production grade).

[2021-03-21 15:18] joewheaton opened #129 "Close All Projects"
It would be very nice to have a command to "Close All Projects" when we have a lot open.
![image](https://user-images.githubusercontent.com/9723905/111910284-5f77a900-8a26-11eb-92a2-484e278bb06b.png)

[2021-04-07 16:02] joewheaton opened #131 "Bring in FEMA Floodplain and Floodway Maps"
As per email with @wally-mac, @tyler1218hatch  please work with @philipbaileynar as necessary to bring [FEMA](https://hazards.fema.gov/femaportal/resources/flood_map_svc.htm) into either Riverscapes Context project, or if the web mapping service is reliable, as a default layer in the [Basemaps](http://rave.riverscapes.xyz/base-maps.html) (preferred):

![image](https://user-images.githubusercontent

[2021-04-07 16:09] joewheaton opened #132 "Bring in National Wetlands Inventory Data to RAVE or RS Context"
As per email with @wally-mac, @tyler1218hatch please work with @philipbaileynar as necessary to bring in the [National Wetlands Inventory Data](https://www.fws.gov/wetlands/data/web-map-services.html) into either Riverscapes Context project, or if the web mapping service is reliable, as a default layer in the Basemaps (preferred):
![image](https://user-images.githubusercontent.com/9723905/11389855

[2021-04-07 16:15] joewheaton commented on #132
![image](https://user-images.githubusercontent.com/9723905/113899508-1c3d6a00-978a-11eb-84ca-985f4cf50455.png)

From: https://www.fws.gov/wetlands/arcgis/rest/services/WetlandsTopo/WetlandsTopoService/MapServer

[2021-04-07 16:18] joewheaton opened #133 "Bring RAP WMS in"
@tyler1218hatch, similar to #132 and #131, please look at https://github.com/Riverscapes/riverscapes-tools/discussions/259 and  figure out if we can also bring in the RAP stuff.

[2021-04-09 03:48] tyler1218hatch commented on #131
@joewheaton Great, I'll take a look!

[2021-04-09 03:49] tyler1218hatch commented on #132
@joewheaton I'll get started on this soon!

[2021-04-09 03:51] tyler1218hatch commented on #133
I'll look at this soon!

[2021-04-16 00:46] tyler1218hatch commented on #131
@joewheaton @philipbaileynar
I couldn't get the web mapping to work with ArcMap, but the fact that I got it to work well with ArcPro leads me to believe this is some sort of versioning conflict. Here's a video with more details, let me know what I can do to move forward on this,
[https://youtu.be/fGcmGqnDW00](url)

[2021-04-16 00:54] tyler1218hatch commented on #132
@philipbaileynar
I've got these loading properly into ArcMap. I'm assuming the next step is to change the business logic XML so it can access these datasets. What's the syntax for accessing a web server within the Business Logic? Thanks in advance for the help, I'm pretty inexperienced with this kind of web mapping.

[2021-04-16 00:57] tyler1218hatch commented on #132
@philipbaileynar Okay, I found the Basemaps XML that shows examples of these. I'll get started on the pull request, sorry for the extra notifications.

[2021-04-26 07:23] tyler1218hatch commented on #133
@joewheaton @wally-mac
[Here's a video update for this task](https://youtu.be/jMTK5WCX4YY)

[2021-04-26 16:03] wally-mac commented on #133
Thanks for providing the video. Let’s try loading at all in rave and taking
a look at it together.

On Mon, Apr 26, 2021 at 1:23 AM Tyler Hatch ***@***.***>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2021-04-27 17:49] philipbaileynar opened #136 "Allow Close Project When Something Goes Wrong"
Currently, when something goes wrong loading a project a partial project tree node gets added. There's no "Close" option in the right context menu and so this half-complete project node gets left in the tree and the user is unable to get rid of it. Any subsequent attempts to reload the same project do nothing because RAVE detects the presence of the project already in the tree and does nothing.

A

[2021-05-18 01:15] joewheaton commented on #108
So just an update:
- 1 & 2 These are now done with https://github.com/Riverscapes/QRAVEPlugin!

[2021-05-18 01:42] philipbaileynar opened #137 "ArcRAVE enhancements now that we have QRAVE"
Now that we have QRAVE we have some changes to make to ArcRAVE:

# Mandatory

* [ ] Enhance ArcRAVE to consistently use relative XPaths in business logic
* [x] Use QRAVE layer icons in tree - including different icons by geometry type
* [ ] Implement the new project view XML

# Optional

* [ ] Download business logic and layer files on the fly instead of shipping with the AddIn
* [ ] Explode basem

[2021-05-18 01:43] philipbaileynar commented on #108
Closing because outstanding issues moved to #137

[2021-05-18 01:43] #108 closed

[2021-05-19 02:46] philipbaileynar opened #138 "Update RAVE documentation now we have QGIS"
High level goals:

* All versions of RAVE will use a single documentation web site (rave.riverscapes.xyz)
* The repo in which the documentation is served can change over time.
* Use the existing ArcRAVE repo for now.

The tasks are:

* [ ] enhance symbology and business logic documentation to accomodate all three versions of RAVE
* [ ] Update documentation based on the fact business logic and symb

[2021-05-21 02:32] joewheaton commented on #137
@philipbaileynar on

Can we do this please (or just add the "Update Resources" button @MattReimer used in QRAVE? With all these folks ramping up to do business logic and symbology fixes, it would be nice for you not to have to issue a new release of ArcRAVE with every damn pull request to RiverscapesXML. Plus, it is a pain for users to uninstall AddIn and Re-install.

[2021-05-21 04:31] philipbaileynar commented on #137
Totally agree.

Let us  look into it. The big unknown here is safely calling over the internet from inside ArcGIS. @MattReimer and I developed some multi-threaded code recently for doing this. It worked perfectly from a Hello Word test app, but would not work from within ArcGIS. Perhaps because ArcGIS is a single threaded app? We are not sure.

We will look into it and use some of the unspent QRAV

[2021-05-22 17:41] MattReimer opened #139 "Implement TMS and XYZ Baselayers"
We now have the ability to use more than just WMS baselayers.

We added this to the BaseMaps.xml file here
https://github.com/Riverscapes/RiverscapesXML/pull/85

This request came from an issue requesting Google and Bing baseLayers
https://github.com/Riverscapes/RiverscapesXML/issues/74

I'm going to handle the QRave side of things and I have no idea if this is even possible in Arc (but I'm procee

[2021-05-22 18:03] MattReimer commented on #35
This discussion is happening in a few different places. The latest is happening on the QReave repo

https://github.com/Riverscapes/QRAVEPlugin/issues/19#issuecomment-843282111

@philipbaileynar when you get to this Let's maybe sync up so we can do it the same way.

[2021-05-22 18:05] MattReimer commented on #128
I don't think there's any specific action needed here so I'm closing this. Re-open if I'm wrong.

[2021-05-22 18:05] #128 closed

[2021-05-24 23:33] joewheaton commented on #139
@philipbaileynar you could ask @tyler1218hatch to check this out (pinging @wally-mac FYI).

[2021-05-25 20:10] wally-mac commented on #139
Yes, please see if this is doing in ArcGIS pro @tyler1218hatch. @philipbaileynar please feel free to direct Tyler as needed.

[2021-05-25 20:23] tyler1218hatch commented on #139
@philipbaileynar I'm a bit confused on what to do here. Should I just wait until Lauren adds the Google maps layer, then test that out in Arc once she's done?

[2021-05-25 21:45] philipbaileynar commented on #139
@tyler1218hatch no action needed.

@MattReimer has taken care of this in QRAVE. I will implement in ArcRAVE.

[2021-06-27 20:20] joewheaton commented on #132
So now that we have QRAVE (and I gather this #137 list for updating ArcRAVE similar to Q), I am confused as to where an edit like this one should go @MattReimer and @philipbaileynar? I'm thinking it may need to be split out into some stuff in RiverscapesXML and some here and some in [QRAVEPlugin](https://github.com/Riverscapes/QRAVEPlugin)?

- [ ] Ideally, changes to Basemaps would be made once in

[2021-06-28 03:11] MattReimer commented on #132
@joewheaton you're right. Until ArcRave catches up to use the changes we made in RiverscapesXML we will need to make the changes in both places.

I'm not sure what kind of timeline you'd like to see but given that we have to do another release of ArcRave just to get these changes it might make sense to wait. Make the changes to RiverscapesXML and they will come over once the work on ArcRave is don

[2021-06-28 15:51] joewheaton commented on #132
Let's wait until we have timeline and strategy for Arc updates. No need to waste time with unnecessary temporary fixes.

[2021-07-29 17:33] joewheaton opened #140 "Enhance symbology and business logic documentation to accommodate all three versions of RAVE"

[2021-07-29 17:33] joewheaton opened #141 "Update documentation based on the fact business logic and symbology are now in dedicated XML repo."

[2021-07-29 17:33] joewheaton opened #142 "Document specific QRAVE features"

[2021-07-29 17:33] joewheaton opened #143 "Installation instructions for QRAVE"
Please record a little video and provide some brief installation and update instructions for QRAVE [here](https://github.com/Riverscapes/RaveAddIn/blob/master/docs/install.md#qgis-plug-in)

[2021-07-29 18:21] joewheaton commented on #140
@Cashe93 it looks like @MattReimer might have started the WebRAVE for you [here](https://github.com/Riverscapes/RiverscapesXML/tree/master/docs/Symbology) to borrow form in addition to [115](https://github.com/Riverscapes/RiverscapesXML/discussions/115)

[2021-07-29 18:31] joewheaton commented on #143
See https://riverscapes.xyz/Tools/Technical_Reference/Documentation_Standards/WebSites/Common.html if you need a refersher on MD edits of site documentation. @shelbysawyer I am assigning this to you as it is a small task, and get you in the habit of preparing website documentation, which you will be doing shortly for VBET.

[2021-07-29 18:31] joewheaton commented on #142
@philipbaileynar what were you thinking here and where?

[2021-07-29 18:32] joewheaton commented on #138
@philipbaileynar I took a stab at getting this going a bit (you're too busy and the @Riverscapes/riverscape-project-curators should be pitching in on this. I broke out the tasks you had into their own issues and started assigning different folks to work on them.

[2021-07-29 18:33] joewheaton opened #144 "Populate a WebRAVE subsection based on /RiverscapesXML/discussions/115 here"

[2021-07-29 18:54] joewheaton opened #145 "Complete Project Views Documentation for all three flavors of RAVE"

[2021-07-29 18:54] joewheaton opened #146 "Update Open-Project for all three flavors of RAVE"

[2021-07-29 18:54] joewheaton opened #147 "Update Getting-Started or all three flavors of RAVE"
Update: https://github.com/Riverscapes/RaveAddIn/blob/master/docs/getting-started.md for showing new users how to use RAVE
This is likely to be where most people get sent when they are provided a link to a Riverscape Project and are not RAVE users already.

This is now ready to populated here:
http://rave.riverscapes.xyz/Software_Help/arcrave_help.html#getting-started
http://rave.riverscapes.xyz/S

[2021-07-29 21:13] lauren-herbine commented on #140
Some helpful links:

[Style Guide Illustrated](https://riverscapes.xyz/Tools/Technical_Reference/Documentation_Standards/WebSites/styleguide.html)
[Editing Existing Pages](https://riverscapes.xyz/Tools/Technical_Reference/Documentation_Standards/WebSites/edits.html)
[Common Content](https://riverscapes.xyz/Tools/Technical_Reference/Documentation_Standards/WebSites/Common.html)
[Testing Sites Local

[2021-07-30 17:50] wally-mac commented on #146
@Tanmanfalcon will you take this task on. Please keep me in the loop on your progress and @joewheaton can help answer your questions.

[2021-07-30 19:32] shelbysawyer commented on #143
@joewheaton @MattReimer A few questions:
- What is the minimum version requirement for QRAVE to work in QGIS?
- If the QRAVE Plug-In has already been installed, is the "update resources" option enough to pull the latest release?

[2021-07-30 20:16] shelbysawyer commented on #138
Sorry, I referenced this instead of #143 in a couple commits.

[2021-07-30 20:17] joewheaton commented on #143
Get confirmation from @MattReimer, but I think it is [3.16](https://github.com/Riverscapes/QRAVEPlugin/issues/16)?

No. All that does is get the latest business logic and symbology from RiverscapesXML. To install the latest release, you go to the Plugin Manager (it will also likely give you a notification). Bare in mind that the QRAVE plugin will not be updated that regularly. When it does, you do

[2021-07-30 20:19] shelbysawyer commented on #143
@joewheaton Ah, I thought so. Mine was already updated, so I wasn't able to see what a user with an outdated version would see. Thanks!

[2021-07-30 22:00] joewheaton commented on #113
I think that with the arcRAVE 2.2 release, the decision is made above to make it consistent with QRAVE. I think some of this becomes less important now too that we'll be updating resources instead of updating. This is redundant with #137

[2021-07-30 22:00] #113 closed

[2021-07-30 22:04] joewheaton commented on #114
This belongs over in RiverscapesXML. Started new: https://github.com/Riverscapes/RiverscapesXML/issues/171

[2021-07-30 22:05] #114 closed

[2021-07-30 22:08] joewheaton commented on #1
Lets wait on this until we have the Information Architect review and graphic artist update all our icons.

[2021-07-30 22:21] joewheaton commented on #14
We have the same problem now over in QRAVE: https://github.com/Riverscapes/QRAVEPlugin/issues/19

[2021-07-30 22:26] philipbaileynar commented on #1
WebRAVE and QRAVE now use the same icons.

We can also enhanced the XML to make it possible to distinguish geometry types in ArcRAVE. I have even begun the process of implementing them. It's just fallen down in priority. It's close though.

[2021-07-30 22:29] joewheaton commented on #40
@philipbaileynar this might be a good one for @nick4rivers to work on as he has done a bunch of this for QRiS. I think this should be broken out into the different actionable tasks needed for:

- [ ] Defining Photo Types in RiverscapesXML
- [ ] ArcRAVE here
- [ ] QRAVE
- [ ] QRIS
- [ ] WebRAVE

I think we should prioritize this after we understand how much work it is.

[2021-07-30 22:31] joewheaton commented on #89
@philipbaileynar, I'm just following up on this to see if our understanding of this problem has shifted now. Also to see if it belongs elsewhere (e.g. RiverscapesXML)?

[2021-07-30 22:32] #29 closed

[2021-07-30 22:32] philipbaileynar commented on #89
Last time I talked to @MattReimer this wasn't as simple as I had pictured it being.

[2021-07-30 22:42] joewheaton commented on #1
Not a high priority at moment. Thanks for update. Given your answer, it seems like this belongs over in RiverscapesXML? Should we transfer issue to where it will actually be actioned? Or do we need an enhancement in to ArcRAVE that works the same way WebRAVE and QRAVE do?

[2021-07-31 14:53] philipbaileynar commented on #1
Correction.... The XML is already enhanced. The remaining work is just in arcrave.

[2021-08-02 00:46] shelbysawyer commented on #143
@joewheaton One more question before I do the pull request: On the RAVE website homepage, the "Download RAVE" button takes viewers to the Esri Add-In download. I want to 1) add a button to download the QRAVE Plug-In called "Download RAVE for QGIS" and 2) edit the existing button to say "Download RAVE for ArcGIS"

The problem is that I couldn't find the md file to make these changes. Where is it?

[2021-08-02 02:55] joewheaton commented on #143
That [button](https://riverscapes.xyz/Tools/Technical_Reference/Documentation_Standards/WebSites/styleguide.html#buttons) is on the home page and is just a little bit of html:

[code]

The `<div>` tags are just to center it. If you want the changes you mentioned, do something like:
[code]
Note that I added three buttons in above and they go to different places. Technically, QGIS is not downloaded

[2021-08-02 16:08] shelbysawyer commented on #143
@joewheaton I'm confused about this-- my understanding is that to get QRAVE, users have to download the qrave_toolbar.zip from the repo, and then install QRAVE as a Plug-In in QGIS, just as they need to with the RAVE Add-In for ArcGIS. I thought the only difference was that the QRAVE Plug-In only needed to be downloaded and installed once (with updating done within QGIS) versus the uninstall, re-d

[2021-08-02 17:01] joewheaton commented on #143
Nope... see [this video](https://youtu.be/O5xwIqhtlag)

In fact, you could just embed it as the instructions ;). https://youtu.be/O5xwIqhtlag

[2021-08-02 17:23] shelbysawyer commented on #143
@joewheaton Thanks!

[2021-08-06 00:47] joewheaton opened #152 "Backslashes (windows) break Linux/OSX"
This issue originated in [riverscapes-tools/issues/367#issuecomment-893891369](https://github.com/Riverscapes/riverscapes-tools/issues/367#issuecomment-893891369).

@MattReimer said this a problem in all versions of RAVE, so this is the sister post to https://github.com/Riverscapes/QRAVEPlugin/issues/30 for ArcRAVE:

ArcRave should be able to handle windows slashes in project files, even on mac.

[2021-08-06 22:32] philipbaileynar commented on #152
@joewheaton what does this mean?

Arc only runs on Windows... Hopefully you're not thinking Parallels on a Mac? We've been down this road with GCD. Supporting products living in ESRI within virtualization environments is an endless nightmare of pain.

Also, has anyone actually reported a bug in ArcRAVE? Backslashes must already work, surely? Forward slashes?

[2021-08-07 20:31] joewheaton commented on #152
Dough... That makes sense ☺️

[2021-08-07 20:31] #152 closed

[2021-08-16 21:32] joewheaton commented on #131
@philipbaileynar I am assigning this to you so that you and I decide where this belongs. When originally requested, it was sort of a Basemaps issue, which is technically RiverscapesXML curation. Anyhow, flagging for us to disucss.

[2021-08-16 21:35] joewheaton commented on #125
@philipbaileynar is this actually just the proper file association with anything that is a node from a geopackage? On old issues like this, we need to:

- [ ] Reassign a parent issue in right place (e.g. RiverscapesXML)
Have tasks as appropriate for changes to:
- [ ]  QRAVE
- [ ] ArcRAVE
- [ ] WebRAVE

[2021-08-16 21:39] joewheaton commented on #20
This could be relevant for us to consider in WebRAVE @philipbaileynar

[2021-08-16 21:39] #20 closed

[2021-08-16 21:41] #100 closed

[2021-08-16 22:24] #3 closed

[2021-08-16 22:50] joewheaton opened #155 "Fix Acknowledgements (browser) so that hyperlinks open in external browser."
## The Problem
The  update of [Acknowledgements](https://github.com/Riverscapes/RaveAddIn/blob/master/docs/dotnetack.md) associated with  completing #3, revealed that any hyperlinks within the acknowledgements do not open in an external browser (what we want) and instead just open within the frame.
![image](https://user-images.githubusercontent.com/9723905/129638695-cfd6126c-4ede-4e7f-81a4-59868d9

[2021-08-16 23:15] joewheaton commented on #26
So nice that QGIS does this already.  @philipbaileynar we should discuss if this is still relevant.

[2021-08-16 23:16] joewheaton commented on #136
Do you think we still need this @philipbaileynar? If so, do we also need to copy this and make issue in QRAVE?

[2021-08-16 23:23] joewheaton commented on #12
@philipbaileynar should this be moved over to RiverscapesXML, or copied into a QRAVE?

[2021-08-16 23:49] joewheaton commented on #143
@shelbysawyer I fixed this.

[2021-08-16 23:49] #143 closed

[2021-08-16 23:51] joewheaton commented on #146
@Tanmanfalcon if you don't know how to record and embed videos, see:
http://etal.joewheaton.org/faststone-capture.html
and https://gist.github.com/joewheaton/002acd9ea725f6d4a1bac38ee9a0dd50

[2021-08-17 16:28] philipbaileynar opened #158 "View In Warehouse Feature"
I just used the "View in warehouse" feature within QRAVE, by right clicking on the project. It is insanely useful (kudos @MattReimer) and we should implement in ArcRAVE.

[2021-08-17 22:32] philipbaileynar commented on #26
I really like the QGIS implementation. It's complex and expensive to build in ArcGIS. It's also less relevant now that most eyeballs are on QRAVE not ArcRAVE. @joewheaton please close this issue if you agree.

[2021-08-17 23:10] joewheaton commented on #26
I agree @philipbaileynar. Not a priority if the primary audience is targeting our curators as they are all getting converted to Q junkies :)

[2021-08-17 23:10] #26 closed

[2021-08-18 02:03] philipbaileynar commented on #12
Just leave it in ArcRAVE for now. We don't have any base maps that require an API key yet. When we do we can figure it out for each software independently (because dotNet and Qt store this type of information differently).

[2021-08-18 02:04] philipbaileynar commented on #136
Yes we need it in ArcRAVE. I don't know about QRAVE. Leave this ticket as it is for now. Don't create a QRAVE ticket until it becomes a problem in that software.

[2021-08-18 03:21] philipbaileynar commented on #142
I think this is just a dead issue.

[2021-08-18 03:21] #142 closed

[2021-09-03 00:14] joewheaton commented on #144
@lauren-herbine this will now be done here:
http://rave.riverscapes.xyz/Documentation/Developers/Symbology/webvector_symbology.html

[2021-09-07 21:15] CHafen opened #161 "ArcRave not bringing in Bankfull Island Symbology in GUT"
It looks like ArcRAVE isn't bringing in the bankfull Island symbology for this GUT project.
The one circled in red is what RAVE brought it in as and the one circled in yellow is when I put the bfIslands.lyr file in to check what the symbology should be. I'm not sure who to tag here @joewheaton @MattReimer
![bfIslands_symbology](https://user-images.githubusercontent.com/39837888/132411650-57df9241-

[2021-09-07 21:21] MattReimer commented on #161
Hey @CHafen I moved this issue over into RaveAddin.

ArcRave is currently way behind QRave and we're working hard to bring it up to speed. Let's sit on this issue and we can see if it's still a problem after the next version pushes out.

[2021-09-07 21:43] philipbaileynar opened #162 "Download business logic and layer files on the fly instead of shipping with the AddIn"
Scoping out arcRAVE downloading business logic and symbology from RiverscapesXML instead of being bundled with the software.

# Caveats

[Experience](https://github.com/Riverscapes/RaveAddIn/issues/113#issue-796439028) suggests that ArcGIS does not allow multi-threaded processes. Therefore ArcRAVE will not automate or asynchronously download resources (business logic and symbology.) It will be a s

[2021-09-07 22:35] MattReimer commented on #162
No API url. Eveything's done with a public manifest file you need to download.

Yup. That's basically it. You need to do a presence/absence check and an MD5 checksum on each file too though

Again, no API call. Lyr files are already in the manifest so it should be the same process as (1)

--------------

Let me ellaborate. I'll link to the python code where I can.

The bulk of the code is in [`net

[2021-09-07 22:55] MattReimer commented on #162
FYI MD5 Checking doesn't seem that hard in DotNEt

From:  `System.Security.Cryptography.MD5`

[code]

[2021-09-08 17:09] philipbaileynar opened #164 "Implement Dataset Refs"
When business logic refers to data that has a `ref` attribute, ArcRAVE needs the ability to go find that referenced dataset elsewhere in the project. (QRAVE already does this.)

[2021-09-08 17:10] MattReimer opened #165 "Minor Issues with ArcRave"
I want to capture some easy ways we can make ArcRave and QRave similar. I'll just keep extending this ticket as I test

1. Find resources folder in the about menu. Really dumb but helpful.
<img width="149" alt="findfolder" src="https://user-images.githubusercontent.com/1063391/132553949-0d0ee3b7-8669-411d-9625-33fa2bdab1d4.png">

[2021-09-08 17:12] philipbaileynar opened #166 "Resource File Cleanup"
The new "update resource" feature currently only downloads files. It also needs the ability to remove files that are no longer in the RiverscapesXML manifest. This is most important for symbology because curators might move a layer file from a tool specific folder to the shared folder. In these situations the local copy in the tool specific folder needs to get removed or it will take precedence ov

[2021-09-08 17:19] MattReimer commented on #166
Just for completeness here's the python:
https://github.com/Riverscapes/QRAVEPlugin/blob/master/src/classes/net_sync.py#L169-L180

[2021-09-08 17:26] MattReimer commented on #162
Couple of notes:

### 1. Status

It took a while the first time (20+ seconds) and there was no status or progress of any kind. This can be really annoying for a user who might start wondering if Arc has hung. Not saying you need a download progress bar (although that would be nice) but maybe you could just update the ArcMap status bar with some kind of message saying something dumb like "Syncing 2

[2021-09-08 17:53] MattReimer opened #167 "Change fallback strategy for BL XML"
Currently when a business logic file can't be found it falls back. This is correct

What's not correct is that when a business logic file can't be parsed it should err out and not automatically fall back. We need that error for BL developers to be able to know something is wrong

Question: should/does this policy apply to layer files too?

[2021-09-08 20:16] philipbaileynar commented on #164
1. Can nodes have both ref and xpath? If so what takes precedence?
2. Can any node type have ref, or just GIS datasets?
3. Does a business logic node that has an xpathlabel and that refers to a project node with a ref, does the xpathlabel refer to the project node or the referenced node?

[2021-09-08 23:35] #166 closed

[2021-09-08 23:35] #167 closed

[2021-09-09 19:54] philipbaileynar opened #168 "Base Maps Broken In New ArcRAVE"
Base Maps are not working in the new ArcRAVE 3.0.2.

<img width="443" alt="Screen Shot 2021-09-09 at 12 53 10 PM" src="https://user-images.githubusercontent.com/8645379/132753533-7cc07dee-0103-409b-a065-026a98ee3b86.png">

I suspect this has something to do with changes to the BaseMaps XML now that ArcRAVE is using the slightly refactored copy in RiverscapesXML rather than the old one in RaveAddin

[2021-09-09 20:48] CHafen commented on #161
@MattReimer I found the the issue with this. It's just a spelling error. The business logic symbology says "bfIlsands" instead of "bfIslands"

[2021-09-09 22:27] philipbaileynar opened #169 "XYZ BaseMaps appearing in ArcRAVE"
BaseMaps.xml now includes several xyz map tile services that work in QGIS but are incompatible with ArcGIS (although they [appear to work in ArcPro](https://community.esri.com/t5/arcgis-pro-ideas/add-xyz-tiles-layer-tms/idi-p/940481)).

We need to omit/hide xyz map tile base maps in ArcRAVE.

[2021-09-09 22:28] philipbaileynar commented on #168
Two issues going on here

- NAIP image service appears to be donw.
- [ArcGIS cannot display xyz map tile services](https://community.esri.com/t5/arcgis-pro-ideas/add-xyz-tiles-layer-tms/idi-p/940481).

Note that other services, such as those from the USGS are working in ArcRAVE 3.0.2

[2021-09-09 22:28] #168 closed

[2021-09-09 22:32] philipbaileynar commented on #162
This is implemented:

- Kelly's VBET problem was fixed by changing the way ArcRAVE finds business logic #167
- Broken base maps is being tackled in #169

[2021-09-09 22:32] #162 closed

[2021-09-09 22:54] philipbaileynar commented on #169
Fixed in 3.0.3

[2021-09-09 22:54] #169 closed

[2021-09-09 23:19] MattReimer commented on #161
Cool. Are you cool to fix this or do you want me to do it?

[2021-09-10 03:40] philipbaileynar commented on #131
Watching Tyler's video, along with [my recent experience fixing base maps in ArcRAVE](https://github.com/Riverscapes/RaveAddIn/issues/169), I suspect that ArcGIS does not have the ability to display lots of web mapping services. This could be a black hole of effort and I would suggest we put it off until we make the leap to ArcPro.

[2021-09-10 11:43] CHafen commented on #161
@MattReimer  I'll do it

[2021-09-10 17:03] nick4rivers opened #170 "TauDEM symbology in ArcRAVE"
## The Problem
I am for some reason not getting much of the symbology for a TaDEM project (18030002) in ArcRAVE. i.e., raster layers are only showing grey scale symbology and the custom business logic is not showing.

**_NOTE_** - I run ArcMAP 10.7.1 on a parallels virtual machine on my mac - which could explain the problem.

Please see this issue in the RiverscapesDATA repo for a more complete de

[2021-09-10 17:14] MattReimer commented on #170
Ok, I've reviewed the video on that QC ticket and it seems like this is entirely related to business logic and symbology so I'm moving it to RiverscapesXML

notice here hoe the pitfill layer uses "dem" for symbology. Not sure that's intended.

https://github.com/Riverscapes/RiverscapesXML/blob/master/RaveBusinessLogic/TauDEM.xml#L29

@nick4rivers can you coordinate with @shelbysawyer and maybe clo

[2021-10-27 20:35] philipbaileynar opened #179 "Not Zooming to Project"
both @joewheaton and @lauren-herbine noted that ArcRAVE is not zooming to a project extent when first adding layers.

I don't think this was ever a feature? It never did this zooming?

If we really want this, perhaps we limited it to adding a project to the map and there are no other layers in the map (i.e. the user has not interacted with the map and set an extent that they want. In other words,

[2021-10-29 21:24] joewheaton opened #180 "'Find Resources Folder' broken in this release"
Just noticed that 3.1 does not take us to the resources folder. Just goes to AppData/Roaming?

[2021-10-29 22:27] philipbaileynar commented on #180
This is working for me. I suspect that your RAVE folder doesn't exist yet? See the code below.

[code]

[2021-10-29 23:52] philipbaileynar opened #181 "Stop Shipping Resources and Instead Check For Resources"
1. ArcRAVE should no longer ship with business logic and layer files.
2. When the user clicks the "Open Project" button, ArcRAVE should check if the resource folder exists and if not offer to refresh the resources, warning the user that resources are needed to view the project.

The rationale for number 1 above is that ArcRAVE releases will get less frequent now that we don't need to do a release

[2021-12-02 19:20] joewheaton opened #182 "Update Basemap.xml documentation to reflect new workflow of adding to all default basemaps."
http://rave.riverscapes.xyz/Technical_Reference/base-maps.html is out of date and does not show how to add to [basemaps.xml](https://github.com/Riverscapes/RiverscapesXML/blob/master/BaseMaps.xml) for all.

See: https://github.com/Riverscapes/RiverscapesXML/issues/415 and https://github.com/Riverscapes/riverscapes-website/discussions/29

[2022-01-13 21:05] #161 closed

[2022-02-09 18:13] shelbysawyer opened #183 "Make more helpful error message for ArcRAVE when Basemap can't load"

[2022-02-09 23:45] jtgilbert commented on #183
I went through all the basemaps in QRAVE yesterday. None caused errors but some just don't show up. Arc definitely handles them much worse, especially basemaps that are made of multiple parts.

Because of their lack of reliability, I think it's worth having a conversation at some point about which ones we should work to keep and maintain, and maybe ditching others. A lot of the USGS TNM-based ones

[2022-02-10 20:05] joewheaton commented on #183
Thanks for doing that @jtgilbert.

Remember users will not necessarily always be using a riverscapes context project, so none of these layers are "redundant" in that common use case. However, it is worth having a conversation about which ones should be ditched because they are so unreliable.

[2022-02-22 16:37] lauren-herbine opened #184 "Rasters not curated in ArcRave for VBET"

[2022-02-22 21:35] joewheaton commented on #184
I moved this from Riverscapes-Tools over to the RAVE-AddIn as that it is what it pertains to.

[2022-09-17 11:59] joewheaton commented on #107
@philipbaileynar, it looks like Samuel has some experience in making an ArcPro AddIn: https://github.com/EVS-GIS/Fluvial-Corridor-Toolbox-ArcGIS/tree/master/ArcGIS-Pro-2_1_1-2_5_1. It is interesting that his repository for the ESRI add-in is organized to have both the 10.x and Pro versions. I wonder if we can do something similar with ArcRAVE?

[2022-10-14 16:07] joewheaton commented on #181
Seems like you fixed this with https://github.com/Riverscapes/RaveAddIn/releases/tag/3.2.0 and https://github.com/Riverscapes/RaveAddIn/commit/e36b47738199daa9981b1e795930cf7859e264d8?

[2022-10-14 16:09] joewheaton commented on #179
@lauren-herbine this _is_ not a RAVE feature, but is just a feature in both QGIS and ArcGIS, of when you add the first layer to the map with data, it zooms to the extent of that data. If you open a project in an existing map, it will not zoom to it. I don't think we need this.

[2022-10-14 16:09] #179 closed

[2022-10-14 16:11] joewheaton commented on #180
Okay, I can't check this right now (don't have ArcGIS working on this machine). However, could the error message be a little more helpful? Most users have no idea what their AppData folder is. Can you tell them what they need to do to get RAVE to make it for them?

[2022-10-14 23:05] philipbaileynar commented on #181
Yes.

[2022-10-14 23:05] #181 closed

[2022-10-17 15:02] shelbysawyer opened #186 "Notes on 3.2 Release - ArcRAVE"
## Notes on 3.2 Release - ArcRAVE
Philip asked me to test out the 3.2 pre-release of ArcRAVE. I installed the new add-in and opened a variety of projects.

To test, I used:
[Channel Area](https://data.riverscapes.net/#/BEAR/e8180838-2548-4d59-bc7a-7ca542c4a95d)
VBET
Riverscapes Context
TauDEM

## Problems / Notes
Philip, these may or may not be related to the pre-release. I can't always tell which

[2022-10-21 23:06] philipbaileynar commented on #186
Thanks @shelbysawyer. My quick read is that ArcRAVE is working OK but there are several data and business logic problems.

The details on this ticket are an excellent resource for future testing.